In [1]:
#05_panda_01_20180807.ipynb

In [2]:
from pandas import Series, DataFrame #import Series,DataFrame

In [3]:
import pandas as pd #慣例

In [4]:
#以Series function 帶入參數為一個list,建立一個Series物件 obj
obj=Series([4,7,-5,3])

In [5]:
#Series 物件,有一組數據及一組與之相關的索引,如下:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
type(obj)

pandas.core.series.Series

In [7]:
#顯示 obj的值(數據), 是一個array, datatype=int64
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [8]:
#顯示 obj的索引, 0,1,2,3
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
#建立一個自訂index ['d','b','a','c']的Series物件obj2

In [10]:
#建立一個自訂index的Series物件obj2
obj2=Series([4,7,-5,3], index=['d','b','a','c'])

In [11]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [13]:
#Compared with a regular NumPy array, you can use values in the index when selecting
#single values or a set of values:

In [14]:
#透過index ['a']選取 單一values -5, obj2
obj2['a']

-5

In [15]:
#透過index [1] 選取 單一values 7, obj
obj[1]

7

In [16]:
#透過index ['d','c','a']選取 a set of values , obj2
obj2[['d','c','a']]

d    4
c    3
a   -5
dtype: int64

In [17]:
#透過index [0,1,3]選取 a set of values , obj
obj[[0,1,3]]

0    4
1    7
3    3
dtype: int64

In [18]:
#NumPy array operations, such as filtering with a boolean array, scalar multiplication,
#or applying math functions, will preserve the index-value link:

In [19]:
obj2  #Series Object obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [22]:
obj2 > 0

d     True
b     True
a    False
c     True
dtype: bool

In [23]:
obj2[obj2 > 0] #filtering with a boolean array

d    4
b    7
c    3
dtype: int64

In [24]:
obj2*2 #scalar multiplication

d     8
b    14
a   -10
c     6
dtype: int64

In [25]:
import numpy as np #import NumPy as np

In [26]:
np.exp(obj2) #applying math functions

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [27]:
#Another way to think about a Series is as a fixed-length, ordered dict

In [28]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [29]:
'b' in obj2 #index 'b' in obj2

True

In [30]:
'e' in obj2.index #index 'e' not in obj2

False

In [31]:
-5 in obj2.values #value -5 in obj2.values

True

In [32]:
-7 in obj2.values #value -7 not in obj2.values

False

In [33]:
#Should you have data contained in a Python dict, you can create a Series from it by
#passing the dict.

In [40]:
dic_data={'Kaohsiung':3000,'Taipei':2500,'Tainan':4020,'Taichung':5100} #dict object

In [41]:
obj3=Series(dic_data) #create a Series obj3 from dic_data

In [42]:
obj3

Kaohsiung    3000
Taichung     5100
Tainan       4020
Taipei       2500
dtype: int64

In [43]:
obj3.index

Index(['Kaohsiung', 'Taichung', 'Tainan', 'Taipei'], dtype='object')

In [44]:
#When only passing a dict, the index in the resulting Series will have the 
#dict’s keys in sorted order.

In [45]:
dic_data #dictionary object dic_date

{'Kaohsiung': 3000, 'Taichung': 5100, 'Tainan': 4020, 'Taipei': 2500}

In [46]:
city=['Hualien','Kaohsiung','Taipei','Tainan'] #list 'city'

In [47]:
obj4=Series(dic_data,index=city) #create Series obj obj4, value-->dic_data,  
                                 #index-->city

In [48]:
obj4 #Series Object

Hualien         NaN
Kaohsiung    3000.0
Taipei       2500.0
Tainan       4020.0
dtype: float64

In [41]:
#The isnull and notnull functions in pandas should be used to detect missing data

In [42]:
pd.isnull(obj4) #isnull()

Hualien       True
Kaohsiung    False
Taipei       False
Tainan       False
dtype: bool

In [43]:
pd.notnull(obj4) #notnull()

Hualien      False
Kaohsiung     True
Taipei        True
Tainan        True
dtype: bool

In [44]:
#Series also has these as instance methods

In [45]:
obj4.isnull()

Hualien       True
Kaohsiung    False
Taipei       False
Tainan       False
dtype: bool

In [46]:
#A critical Series feature for many applications is that it automatically
#aligns differently-indexed data in arithmetic operations

In [47]:
obj3

Kaohsiung    3000
Taichung     5100
Tainan       4020
Taipei       2500
dtype: int64

In [48]:
obj4

Hualien         NaN
Kaohsiung    3000.0
Taipei       2500.0
Tainan       4020.0
dtype: float64

In [49]:
obj3+obj4 #Series 物件相加, 自動用index 對齊

Hualien         NaN
Kaohsiung    6000.0
Taichung        NaN
Tainan       8040.0
Taipei       5000.0
dtype: float64

In [50]:
#Both the Series object itself and its index have a name attribute

In [53]:
obj4.name='population' #指定Series object,obj4,name屬性 值為 'population'

In [54]:
obj4.index.name='city' #指定Series object obj4.index.name屬性 值為 'city'

In [55]:
obj4

city
Hualien         NaN
Kaohsiung    3000.0
Taipei       2500.0
Tainan       4020.0
Name: population, dtype: float64

In [56]:
#A Series’s index can be altered in place by assignment

In [57]:
obj #原來的Series Object obj
    #index 為 [0,1,2,3]

0    4
1    7
2   -5
3    3
dtype: int64

In [58]:
obj.index=['Bob','Steve','Jeff','Ryan'] 
        #重新指定obj 的 index

In [59]:
obj #index 被置換了

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [54]:
#DataFrame

In [55]:
#Create a DataFrame from a dict of equal-length lists or NumPy arrays

In [56]:
dic_data= {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}    #dict. object dic_data

In [57]:
frame1=DataFrame(dic_data) #create a dataframe object frame1 by DataFrame() function

In [58]:
frame1 #DataFrame Object frame1

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [59]:
type(dic_data)

dict

In [60]:
type(frame1)

pandas.core.frame.DataFrame

In [45]:
#If you specify a sequence of columns, the DataFrame’s columns will be exactly 
#what you pass

In [61]:
DataFrame(dic_data,columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [49]:
# if you pass a column that isn’t contained in data, it will appear with NA 
# values in the result

In [62]:
frame2=DataFrame(dic_data, columns=['year', 'state', 'pop', 'debt'],
                index=['one', 'two', 'three', 'four', 'five'])

In [63]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN