In [1]:
#05_panda_09_20160815, Correlation and Covariance

In [2]:
#Some summary statistics, like correlation and covariance, are computed from pairs of arguments.

In [3]:
from pandas import DataFrame,Series #import DataFrame(), Series()

In [4]:
import pandas as pd #慣例

In [5]:
import numpy as np #import numpy as np

In [6]:
import matplotlib.pyplot as plt #for drawing

In [7]:
%matplotlib inline

In [8]:
# import pandas.io.data as web #import pandas.io.data as web (python 2.x)

In [10]:
from pandas.io import data as web

In [11]:
all_data={}

In [12]:
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker]=web.get_data_yahoo(ticker,'1/1/2000','1/1/2010')

In [13]:
all_data #dict object

{'AAPL':                   Open        High         Low       Close     Volume  \
 Date
 2000-01-03  104.874997  112.499998  101.687501  111.937502  133949200
 2000-01-04  108.250001  110.625002  101.187503  102.500003  128094400
 2000-01-05  103.749998  110.562497  103.000001  103.999997  194580400
 2000-01-06  106.124999  106.999999   94.999998   94.999998  191993200
 2000-01-07   96.499999  101.000002   95.500003   99.500001  115183600
 2000-01-10  101.999998  102.249997   94.749999   97.750001  126266000
 2000-01-11   95.937503   99.374998   90.500002   92.750000  110387200
 2000-01-12   94.999998   95.500003   86.499997   87.187503  244017200
 2000-01-13   94.484299   98.749997   92.500001   96.749998  258171200
 2000-01-14   99.999999  102.249997   99.374998  100.437499   97594000
 2000-01-18  101.000002  106.000003  100.437499  103.937499  114794400
 2000-01-19  105.625001  108.749999  103.375003  106.562499  149410800
 2000-01-20  115.500000  121.500004  113.499994  113.499994  457783200
 2000-01-21  114.249998  114.249998  110.187502  111.312501  123981200
 2000-01-24  108.437502  112.750004  105.125003  106.250002  110219200
 2000-01-25  105.000000  113.125006  102.375000  112.250006  124286400
 2000-01-26  110.000001  114.187500  109.750002  110.187502   91789600
 2000-01-27  108.812497  112.999996  106.999999  110.000001   85036000
 2000-01-28  108.187503  110.875001  100.625000  101.625003  105837200
 2000-01-31  101.000002  103.875001   94.500000  103.749998  175420000
 2000-02-01  103.999997  105.000000   99.999999  100.249998   79508800
 2000-02-02  100.750003  102.125001   96.999997   98.812502  116048800
 2000-02-03  100.312503  104.250003  100.249998  103.312498  118798400
 2000-02-04  103.937499  110.000001  103.625002  108.000002  106330000
 2000-02-07  108.000002  114.249998  105.937498  114.062504  110266800
 2000-02-08  114.000006  116.124994  111.250003  114.875006  102160800
 2000-02-09  114.125002  117.125004  112.437500  112.624994   74841200
 2000-02-10  112.875000  113.874996  110.000001  113.499994   75745600
 2000-02-11  113.625004  114.125002  108.250001  108.749999   53062800
 2000-02-14  109.312502  115.875002  108.625003  115.812504   91884800
 ...                ...         ...         ...         ...        ...
 2009-11-18  206.540001  206.999998  203.999996  205.960001   93580200
 2009-11-19  204.609997  204.609997  199.799994  200.509996  135581600
 2009-11-20  199.150005  200.389994  197.760000  199.919996  101666600
 2009-11-23  203.000000  206.000002  202.949999  205.879999  118724200
 2009-11-24  205.330000  205.879999  202.899998  204.440006   79609600
 2009-11-25  205.400002  205.649994  203.760004  204.190001   71613500
 2009-11-27  199.219994  202.959999  198.370001  200.589998   73814300
 2009-11-30  201.109997  201.679996  198.769997  199.909996  106214500
 2009-12-01  202.239996  202.769995  196.830006  196.969995  116440800
 2009-12-02  198.960001  201.420004  195.749994  196.230005  178815000
 2009-12-03  197.420006  198.980001  196.270006  196.479998  112179900
 2009-12-04  199.700005  199.879995  190.280003  193.320005  206721200
 2009-12-07  193.320005  193.770002  188.680006  188.949999  178689700
 2009-12-08  189.359995  192.349997  188.700006  189.870007  172599700
 2009-12-09  191.279999  198.159996  190.310003  197.800001  171195500
 2009-12-10  199.500000  199.700005  196.120003  196.429996  122417400
 2009-12-11  197.780001  198.000006  193.429995  194.669996  107443700
 2009-12-14  195.369999  197.430006  192.560001  196.979996  123947600
 2009-12-15  195.829996  197.509995  193.270004  194.169998  104864900
 2009-12-16  195.100006  196.499998  194.549994  195.030005   88246200
 2009-12-17  194.260000  195.000004  191.000006  191.859999   97209700
 2009-12-18  193.170002  195.500002  192.600002  195.430000  152192600
 2009-12-21  196.050001  199.750006  195.670006  198.229998  152976600
 2009-12-22  199.439999  200.850004  198.659994  200.360006   87378900
 2009-12-23  201.199999  202.379999  200.810003  202.100006   86381400
 2009-12-24  203.549999  209.349998  203.349995  209.040005  125222300
 2009-12-28  211.719999  213.949997  209.610004  211.609997  161141400
 2009-12-29  212.629993  212.719995  208.729998  209.100006  111301400
 2009-12-30  208.830000  212.000006  208.310001  211.639997  103021100
 2009-12-31  213.130005  213.349997  210.559999  210.730003   88102700

             Adj Close
 Date
 2000-01-03   3.660058
 2000-01-04   3.351477
 2000-01-05   3.400523
 2000-01-06   3.106247
 2000-01-07   3.253385
 2000-01-10   3.196165
 2000-01-11   3.032678
 2000-01-12   2.850799
 2000-01-13   3.163467
 2000-01-14   3.284039
 2000-01-18   3.398479
 2000-01-19   3.484310
 2000-01-20   3.711147
 2000-01-21   3.639622
 2000-01-24   3.474092
 2000-01-25   3.670276
 2000-01-26   3.602838
 2000-01-27   3.596707
 2000-01-28   3.322867
 2000-01-31   3.392348
 2000-02-01   3.277908
 2000-02-02   3.230905
 2000-02-03   3.378043
 2000-02-04   3.531312
 2000-02-07   3.729540
 2000-02-08   3.756107
 2000-02-09   3.682537
 2000-02-10   3.711147
 2000-02-11   3.555835
 2000-02-14   3.786760
 ...               ...
 2009-11-18  26.937373
 2009-11-19  26.224570
 2009-11-20  26.147404
 2009-11-23  26.926909
 2009-11-24  26.738573
 2009-11-25  26.705875
 2009-11-27  26.235033
 2009-11-30  26.146096
 2009-12-01  25.761576
 2009-12-02  25.664793
 2009-12-03  25.697489
 2009-12-04  25.284196
 2009-12-07  24.712646
 2009-12-08  24.832973
 2009-12-09  25.870132
 2009-12-10  25.690950
 2009-12-11  25.460760
 2009-12-14  25.762884
 2009-12-15  25.395366
 2009-12-16  25.507845
 2009-12-17  25.093243
 2009-12-18  25.560161
 2009-12-21  25.926370
 2009-12-22  26.204953
 2009-12-23  26.432526
 2009-12-24  27.340204
 2009-12-28  27.676332
 2009-12-29  27.348052
 2009-12-30  27.680255
 2009-12-31  27.561238

 [2515 rows x 6 columns],
 'GOOG':                   Open        High         Low       Close    Volume  \
 Date
 2004-08-19  100.000168  104.060182   95.960165  100.340176  44871300
 2004-08-20  101.010175  109.080187  100.500174  108.310183  22942800
 2004-08-23  110.750191  113.480193  109.050183  109.400185  18342800
 2004-08-24  111.240189  111.600192  103.570177  104.870176  15319700
 2004-08-25  104.960181  108.000187  103.880180  106.000184   9232100
 2004-08-26  104.950180  107.950188  104.660179  107.910182   7128600
 2004-08-27  108.100185  108.620186  105.690180  106.150181   6241200
 2004-08-30  105.280178  105.490184  102.010172  102.010172   5221400
 2004-08-31  102.300173  103.710180  102.160177  102.370175   4941200
 2004-09-01  102.700174  102.970180   99.670169  100.250171   9181600
 2004-09-02   99.190173  102.370175   98.940170  101.510173  15190400
 2004-09-03  100.950174  101.740174   99.320168  100.010169   5176800
 2004-09-07  101.010175  102.000178   99.610169  101.580175   5875200
 2004-09-08  100.740176  103.030180  100.500174  102.300173   5009200
 2004-09-09  102.530174  102.710175  101.000173  102.310174   4080900
 2004-09-10  101.600178  106.560183  101.300176  105.330177   8740200
 2004-09-13  106.630185  108.410189  106.460185  107.500188   7881300
 2004-09-14  107.450181  112.000192  106.790184  111.490192  10880300
 2004-09-15  110.560189  114.230195  110.200186  112.000192  10763900
 2004-09-16  112.340192  115.800201  111.650191  113.970198   9310200
 2004-09-17  114.420198  117.490200  113.550195  117.490200   9517400
 2004-09-20  116.950204  121.600205  116.770202  119.360208  10679200
 2004-09-21  119.810208  120.420206  117.510203  117.840202   7263000
 2004-09-22  117.400203  119.670204  116.810200  118.380206   7617100
 2004-09-23  118.840207  122.630207  117.020198  120.820207   8576100
 2004-09-24  120.940208  124.100214  119.760209  119.830203   9166700
 2004-09-27  119.560205  120.880207  117.800204  118.260205   7099600
 2004-09-28  121.300211  127.400217  120.210209  126.860221  17009400
 2004-09-29  126.700214  135.020238  126.230220  131.080225  30661400
 2004-09-30  129.900219  132.300222  129.000219  129.600224  13823300
 ...                ...         ...         ...         ...       ...
 2009-11-18  576.650986  578.781014  572.071009  576.650986   3110700
 2009-11-19  573.770964  574.001010  570.000959  572.991012   4352200
 2009-11-20  569.500983  571.600992  569.401000  569.960954   4027400
 2009-11-23  576.490965  586.601001  575.860987  582.350992   5114000
 2009-11-24  582.521000  584.290979  576.541017  583.091001   3222400
 2009-11-25  586.411021  587.061033  582.691008  585.740976   2933300
 2009-11-27  572.000985  582.461022  570.970952  579.760994   2779500
 2009-11-30  580.631004  583.670987  577.111018  583.001004   3463000
 2009-12-01  588.131009  591.220983  583.001004  589.871030   4657900
 2009-12-02  591.000984  593.010996  586.220980  587.511017   3338800
 2009-12-03  589.041025  591.451030  585.001029  585.740976   2868000
 2009-12-04  593.021043  594.831028  579.181007  585.011015   5046000
 2009-12-07  584.211030  588.691024  581.000978  586.250999   3284500
 2009-12-08  583.500979  590.661030  582.000991  587.050985   3059300
 2009-12-09  587.501031  589.330988  583.580990  589.020992   3575200
 2009-12-10  590.441031  594.711011  590.411011  591.501021   3349000
 2009-12-11  594.680992  594.751017  587.731016  590.510994   3452800
 2009-12-14  595.351037  597.310996  592.611003  595.730996   3841100
 2009-12-15  593.301020  596.381008  590.990998  593.140998   4577800
 2009-12-16  598.601033  600.371012  596.641012  597.761042   5639800
 2009-12-17  596.441047  597.641025  593.760990  593.941045   5297300
 2009-12-18  596.031006  598.931001  595.001035  596.421013   7089400
 2009-12-21  597.611006  599.841017  595.671019  598.681044   5161600
 2009-12-22  601.341005  601.501027  598.851051  601.121006   3775600
 2009-12-23  603.501053  612.871081  602.851041  611.681027   4160800
 2009-12-24  612.931058  619.521047  612.271061  618.481090   1723800
 2009-12-28  621.661061  625.991080  618.481090  622.871087   3408400
 2009-12-29  624.741049  624.841093  618.291049  619.401092   2860200
 2009-12-30  618.501062  622.731037  618.011072  622.731037   2942100
 2009-12-31  624.751096  625.401047  619.981079  619.981079   2448700

              Adj Close
 Date
 2004-08-19   50.119968
 2004-08-20   54.100990
 2004-08-23   54.645447
 2004-08-24   52.382705
 2004-08-25   52.947145
 2004-08-26   53.901190
 2004-08-27   53.022069
 2004-08-30   50.954132
 2004-08-31   51.133953
 2004-09-01   50.075011
 2004-09-02   50.704382
 2004-09-03   49.955130
 2004-09-07   50.739348
 2004-09-08   51.098988
 2004-09-09   51.103983
 2004-09-10   52.612476
 2004-09-13   53.696398
 2004-09-14   55.689407
 2004-09-15   55.944152
 2004-09-16   56.928171
 2004-09-17   58.686414
 2004-09-20   59.620484
 2004-09-21   58.861240
 2004-09-22   59.130972
 2004-09-23   60.349754
 2004-09-24   59.855246
 2004-09-27   59.071031
 2004-09-28   63.366744
 2004-09-29   65.474638
 2004-09-30   64.735377
 ...                ...
 2009-11-18  288.037456
 2009-11-19  286.209296
 2009-11-20  284.695781
 2009-11-23  290.884611
 2009-11-24  291.254246
 2009-11-25  292.577910
 2009-11-27  289.590906
 2009-11-30  291.209293
 2009-12-01  294.640874
 2009-12-02  293.462046
 2009-12-03  292.577910
 2009-12-04  292.213294
 2009-12-07  292.832667
 2009-12-08  293.232260
 2009-12-09  294.216280
 2009-12-10  295.455055
 2009-12-11  294.960537
 2009-12-14  297.567930
 2009-12-15  296.274225
 2009-12-16  298.581939
 2009-12-17  296.673849
 2009-12-18  297.912594
 2009-12-21  299.041480
 2009-12-22  300.260243
 2009-12-23  305.534978
 2009-12-24  308.931613
 2009-12-28  311.124419
 2009-12-29  309.391155
 2009-12-30  311.054464
 2009-12-31  309.680858

 [1353 rows x 6 columns],
 'IBM':                   Open        High         Low       Close    Volume  \
 Date
 2000-01-03  112.437500  116.000000  111.875000  116.000000  10347700
 2000-01-04  114.000000  114.500000  110.875000  112.062500   8227800
 2000-01-05  112.937500  119.750000  112.125000  116.000000  12733200
 2000-01-06  118.000000  118.937500  113.500000  114.000000   7971900
 2000-01-07  117.250000  117.937500  110.625000  113.500000  11856700
 2000-01-10  117.250000  119.375000  115.375000  118.000000   8540500
 2000-01-11  117.875000  121.125000  116.625000  119.000000   7873300
 2000-01-12  119.625000  122.000000  118.250000  119.500000   6803800
 2000-01-13  119.937500  121.000000  115.750000  118.250000   8489700
 2000-01-14  120.937500  123.312500  117.500000  119.625000  10956600
 2000-01-18  119.687500  119.750000  115.000000  115.750000   7643900
 2000-01-19  115.562500  122.000000  112.687500  119.500000   8634500
 2000-01-20  123.000000  124.750000  119.000000  119.000000  17783400
 2000-01-21  121.875000  123.000000  119.937500  121.500000   7868700
 2000-01-24  121.875000  122.875000  116.562500  121.500000   6499200
 2000-01-25  116.750000  119.500000  116.000000  119.125000   6936900
 2000-01-26  119.062500  119.937500  116.000000  116.750000   4895100
 2000-01-27  118.000000  118.437500  111.625000  113.500000   8324600
 2000-01-28  112.750000  114.187500  110.062500  111.562500   6669400
 2000-01-31  111.375000  112.812500  109.625000  112.250000   6202700
 2000-02-01  112.375000  113.437500  109.125000  110.000000   7304700
 2000-02-02  112.000000  115.812500  110.375000  113.500000   7707700
 2000-02-03  115.000000  117.500000  114.062500  117.125000   6213800
 2000-02-04  118.187500  118.437500  114.812500  115.625000   5405300
 2000-02-07  116.000000  116.875000  113.125000  114.125000   5779500
 2000-02-08  116.937500  119.000000  116.187500  118.812500   5464300
 2000-02-09  119.000000  119.750000  117.000000  117.375000   5374700
 2000-02-10  117.687500  119.125000  116.875000  119.125000   4446600
 2000-02-11  119.062500  119.437500  114.562500  115.375000   5749400
 2000-02-14  116.000000  116.375000  114.500000  116.062500   4544000
 ...                ...         ...         ...         ...       ...
 2009-11-18  128.050003  128.350006  127.550003  128.149994   3970100
 2009-11-19  127.279999  127.839996  126.510002  127.540001   5308400
 2009-11-20  127.169998  127.690002  126.459999  126.959999   5354200
 2009-11-23  127.699997  128.940002  127.650002  128.199997   7003500
 2009-11-24  127.900002  128.320007  127.139999  127.930000   4816500
 2009-11-25  127.879997  128.220001  127.080002  127.279999   3967700
 2009-11-27  124.589996  126.620003  124.260002  125.699997   3319200
 2009-11-30  125.120003  126.599998  124.919998  126.349998   6302700
 2009-12-01  127.290001  128.389999  126.849998  127.940002   6578600
 2009-12-02  127.320000  128.389999  127.160004  127.209999   4597900
 2009-12-03  127.599998  128.470001  127.250000  127.550003   5760000
 2009-12-04  128.399994  128.899994  126.000000  127.250000   7068500
 2009-12-07  126.879997  127.529999  126.589996  127.040001   4144400
 2009-12-08  126.970001  127.349998  126.160004  126.800003   5351400
 2009-12-09  126.699997  128.389999  126.110001  128.389999   6071900
 2009-12-10  128.130005  129.470001  128.089996  129.339996   7077800
 2009-12-11  129.009995  129.770004  128.710007  129.679993   6597200
 2009-12-14  129.649994  129.979996  129.600006  129.929993   5201300
 2009-12-15  129.460007  129.860001  127.940002  128.490005   7862600
 2009-12-16  128.740005  129.600006  128.350006  128.710007   6372500
 2009-12-17  128.000000  128.559998  127.120003  127.400002   5909500
 2009-12-18  127.970001  128.389999  127.000000  127.910004   9106600
 2009-12-21  127.800003  128.940002  127.680000  128.649994   4772500
 2009-12-22  129.300003  129.979996  129.190002  129.929993   5535500
 2009-12-23  129.699997  130.000000  129.300003  130.000000   4127600
 2009-12-24  129.889999  130.570007  129.479996  130.570007   4265100
 2009-12-28  130.990005  132.309998  130.720001  132.309998   5800400
 2009-12-29  132.279999  132.369995  131.800003  131.850006   4184200
 2009-12-30  131.229996  132.679993  130.679993  132.570007   3867000
 2009-12-31  132.410004  132.850006  130.750000  130.899994   4223400

              Adj Close
 Date
 2000-01-03   89.257529
 2000-01-04   86.227774
 2000-01-05   89.257529
 2000-01-06   87.718606
 2000-01-07   87.333875
 2000-01-10   90.796451
 2000-01-11   91.565913
 2000-01-12   91.950644
 2000-01-13   90.988817
 2000-01-14   92.046826
 2000-01-18   89.065163
 2000-01-19   91.950644
 2000-01-20   91.565913
 2000-01-21   93.489567
 2000-01-24   93.489567
 2000-01-25   91.662096
 2000-01-26   89.834625
 2000-01-27   87.333875
 2000-01-28   85.843043
 2000-01-31   86.372048
 2000-02-01   84.640760
 2000-02-02   87.333875
 2000-02-03   90.123173
 2000-02-04   88.968980
 2000-02-07   87.814788
 2000-02-08   91.517866
 2000-02-09   90.410601
 2000-02-10   91.758576
 2000-02-11   88.870058
 2000-02-14   89.399620
 ...                ...
 2009-11-18  109.626092
 2009-11-19  109.104273
 2009-11-20  108.608110
 2009-11-23  109.668868
 2009-11-24  109.437899
 2009-11-25  108.881854
 2009-11-27  107.530239
 2009-11-30  108.086284
 2009-12-01  109.446455
 2009-12-02  108.821972
 2009-12-03  109.112829
 2009-12-04  108.856191
 2009-12-07  108.676547
 2009-12-08  108.471241
 2009-12-09  109.831405
 2009-12-10  110.644082
 2009-12-11  110.934932
 2009-12-14  111.148795
 2009-12-15  109.916956
 2009-12-16  110.105156
 2009-12-17  108.984510
 2009-12-18  109.420792
 2009-12-21  110.053818
 2009-12-22  111.148795
 2009-12-23  111.208683
 2009-12-24  111.696296
 2009-12-28  113.184773
 2009-12-29  112.791273
 2009-12-30  113.407199
 2009-12-31  111.978584

 [2515 rows x 6 columns],
 'MSFT':                   Open        High         Low       Close     Volume  \
 Date
 2000-01-03  117.375000  118.625000  112.000000  116.562500   53228400
 2000-01-04  113.562500  117.125000  112.250000  112.625000   54119000
 2000-01-05  111.125000  116.375000  109.375000  113.812500   64059600
 2000-01-06  112.187500  113.875000  108.375000  110.000000   54976600
 2000-01-07  108.625000  112.250000  107.312500  111.437500   62013600
 2000-01-10  113.437500  113.687500  111.375000  112.250000   44963600
 2000-01-11  111.500000  114.250000  108.687500  109.375000   46743600
 2000-01-12  108.500000  108.875000  104.437500  105.812500   66532400
 2000-01-13  104.375000  108.625000  101.500000  107.812500   83144000
 2000-01-14  107.187500  113.937500  105.750000  112.250000   73416400
 2000-01-18  111.812500  116.500000  111.750000  115.312500   81483600
 2000-01-19  110.500000  111.500000  106.000000  107.000000   97568200
 2000-01-20  107.062500  109.687500  105.875000  106.000000   56349800
 2000-01-21  107.000000  107.250000  103.250000  103.750000   68416200
 2000-01-24  103.796883  105.687500  100.812500  101.250000   63597600
 2000-01-25  101.000000  103.875000   99.562500  102.812500   59823200
 2000-01-26  102.437500  103.500000   99.125000   99.375000   49365000
 2000-01-27   99.890617  101.187500   97.250000   98.750000   63654800
 2000-01-28   98.125000  100.250000   97.250000   98.250000   58225400
 2000-01-31   97.625000   98.187500   94.875000   97.875000   73194200
 2000-02-01   98.500000  103.250000   97.687500  102.937500   70196600
 2000-02-02  102.437500  103.937500  100.500000  100.812500   49915600
 2000-02-03  102.062500  104.187500  100.125000  103.625000   49186000
 2000-02-04  104.375000  108.000000  104.140617  106.562500   55365400
 2000-02-07  106.812500  106.875000  104.250000  106.625000   40005800
 2000-02-08  106.437500  110.000000  106.437500  109.937500   56229000
 2000-02-09  109.437500  109.437500  103.875000  104.000000   55090000
 2000-02-10  103.890617  106.562500  102.500000  106.000000   54527800
 2000-02-11  104.875000  104.875000   99.125000   99.937500  115559000
 2000-02-14  101.234383  101.750000   99.062500   99.625000   81028600
 ...                ...         ...         ...         ...        ...
 2009-11-18   30.000000   30.139999   29.809999   30.110001   59431200

In [14]:
all_data['IBM'] #DataFrame Object

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,112.437500,116.000000,111.875000,116.000000,10347700,89.257529
2000-01-04,114.000000,114.500000,110.875000,112.062500,8227800,86.227774
2000-01-05,112.937500,119.750000,112.125000,116.000000,12733200,89.257529
2000-01-06,118.000000,118.937500,113.500000,114.000000,7971900,87.718606
2000-01-07,117.250000,117.937500,110.625000,113.500000,11856700,87.333875
2000-01-10,117.250000,119.375000,115.375000,118.000000,8540500,90.796451
2000-01-11,117.875000,121.125000,116.625000,119.000000,7873300,91.565913
2000-01-12,119.625000,122.000000,118.250000,119.500000,6803800,91.950644
2000-01-13,119.937500,121.000000,115.750000,118.250000,8489700,90.988817
2000-01-14,120.937500,123.312500,117.500000,119.625000,10956600,92.046826
2000-01-18,119.687500,119.750000,115.000000,115.750000,7643900,89.065163
2000-01-19,115.562500,122.000000,112.687500,119.500000,8634500,91.950644
2000-01-20,123.000000,124.750000,119.000000,119.000000,17783400,91.565913
2000-01-21,121.875000,123.000000,119.937500,121.500000,7868700,93.489567
2000-01-24,121.875000,122.875000,116.562500,121.500000,6499200,93.489567
2000-01-25,116.750000,119.500000,116.000000,119.125000,6936900,91.662096
2000-01-26,119.062500,119.937500,116.000000,116.750000,4895100,89.834625
2000-01-27,118.000000,118.437500,111.625000,113.500000,8324600,87.333875
2000-01-28,112.750000,114.187500,110.062500,111.562500,6669400,85.843043
2000-01-31,111.375000,112.812500,109.625000,112.250000,6202700,86.372048
2000-02-01,112.375000,113.437500,109.125000,110.000000,7304700,84.640760
2000-02-02,112.000000,115.812500,110.375000,113.500000,7707700,87.333875
2000-02-03,115.000000,117.500000,114.062500,117.125000,6213800,90.123173
2000-02-04,118.187500,118.437500,114.812500,115.625000,5405300,88.968980
2000-02-07,116.000000,116.875000,113.125000,114.125000,5779500,87.814788
2000-02-08,116.937500,119.000000,116.187500,118.812500,5464300,91.517866
2000-02-09,119.000000,119.750000,117.000000,117.375000,5374700,90.410601
2000-02-10,117.687500,119.125000,116.875000,119.125000,4446600,91.758576
2000-02-11,119.062500,119.437500,114.562500,115.375000,5749400,88.870058
2000-02-14,116.000000,116.375000,114.500000,116.062500,4544000,89.399620
...,...,...,...,...,...,...
2009-11-18,128.050003,128.350006,127.550003,128.149994,3970100,109.626092
2009-11-19,127.279999,127.839996,126.510002,127.540001,5308400,109.104273
2009-11-20,127.169998,127.690002,126.459999,126.959999,5354200,108.608110
2009-11-23,127.699997,128.940002,127.650002,128.199997,7003500,109.668868
2009-11-24,127.900002,128.320007,127.139999,127.930000,4816500,109.437899
2009-11-25,127.879997,128.220001,127.080002,127.279999,3967700,108.881854
2009-11-27,124.589996,126.620003,124.260002,125.699997,3319200,107.530239
2009-11-30,125.120003,126.599998,124.919998,126.349998,6302700,108.086284
2009-12-01,127.290001,128.389999,126.849998,127.940002,6578600,109.446455
2009-12-02,127.320000,128.389999,127.160004,127.209999,4597900,108.821972
2009-12-03,127.599998,128.470001,127.250000,127.550003,5760000,109.112829
2009-12-04,128.399994,128.899994,126.000000,127.250000,7068500,108.856191
2009-12-07,126.879997,127.529999,126.589996,127.040001,4144400,108.676547
2009-12-08,126.970001,127.349998,126.160004,126.800003,5351400,108.471241
2009-12-09,126.699997,128.389999,126.110001,128.389999,6071900,109.831405
2009-12-10,128.130005,129.470001,128.089996,129.339996,7077800,110.644082
2009-12-11,129.009995,129.770004,128.710007,129.679993,6597200,110.934932
2009-12-14,129.649994,129.979996,129.600006,129.929993,5201300,111.148795
2009-12-15,129.460007,129.860001,127.940002,128.490005,7862600,109.916956
2009-12-16,128.740005,129.600006,128.350006,128.710007,6372500,110.105156
2009-12-17,128.000000,128.559998,127.120003,127.400002,5909500,108.984510
2009-12-18,127.970001,128.389999,127.000000,127.910004,9106600,109.420792
2009-12-21,127.800003,128.940002,127.680000,128.649994,4772500,110.053818
2009-12-22,129.300003,129.979996,129.190002,129.929993,5535500,111.148795
2009-12-23,129.699997,130.000000,129.300003,130.000000,4127600,111.208683
2009-12-24,129.889999,130.570007,129.479996,130.570007,4265100,111.696296
2009-12-28,130.990005,132.309998,130.720001,132.309998,5800400,113.184773
2009-12-29,132.279999,132.369995,131.800003,131.850006,4184200,112.791273
2009-12-30,131.229996,132.679993,130.679993,132.570007,3867000,113.407199
2009-12-31,132.410004,132.850006,130.750000,130.899994,4223400,111.978584

In [15]:
price=DataFrame({tic:data['Adj Close'] for tic,data in all_data.items()}) #字典生成式

In [16]:
volumn=DataFrame({tic:data['Volume'] for tic,data in all_data.items()}) #字典生成式

In [17]:
price

                 AAPL        GOOG         IBM       MSFT
Date
2000-01-03   3.660058         NaN   89.257529  40.088751
2000-01-04   3.351477         NaN   86.227774  38.734546
2000-01-05   3.400523         NaN   89.257529  39.142957
2000-01-06   3.106247         NaN   87.718606  37.831743
2000-01-07   3.253385         NaN   87.333875  38.326135
2000-01-10   3.196165         NaN   90.796451  38.605574
2000-01-11   3.032678         NaN   91.565913  37.616790
2000-01-12   2.850799         NaN   91.950644  36.391558
2000-01-13   3.163467         NaN   90.988817  37.079408
2000-01-14   3.284039         NaN   92.046826  38.605574
2000-01-18   3.398479         NaN   89.065163  39.658845
2000-01-19   3.484310         NaN   91.950644  36.799969
2000-01-20   3.711147         NaN   91.565913  36.456044
2000-01-21   3.639622         NaN   93.489567  35.682212
2000-01-24   3.474092         NaN   93.489567  34.822400
2000-01-25   3.670276         NaN   91.662096  35.359783
2000-01-26   3.602838         NaN   89.834625  34.177541
2000-01-27   3.596707         NaN   87.333875  33.962588
2000-01-28   3.322867         NaN   85.843043  33.790625
2000-01-31   3.392348         NaN   86.372048  33.661653
2000-02-01   3.277908         NaN   84.640760  35.402773
2000-02-02   3.230905         NaN   87.333875  34.671933
2000-02-03   3.378043         NaN   90.123173  35.639222
2000-02-04   3.531312         NaN   88.968980  36.649501
2000-02-07   3.729540         NaN   87.814788  36.670997
2000-02-08   3.756107         NaN   91.517866  37.810248
2000-02-09   3.682537         NaN   90.410601  35.768194
2000-02-10   3.711147         NaN   91.758576  36.456044
2000-02-11   3.555835         NaN   88.870058  34.370999
2000-02-14   3.786760         NaN   89.399620  34.263522
...               ...         ...         ...        ...
2009-11-18  26.937373  288.037456  109.626092  25.338545
2009-11-19  26.224570  286.209296  109.104273  25.060839
2009-11-20  26.147404  284.695781  108.608110  24.926194
2009-11-23  26.926909  290.884611  109.668868  25.195484
2009-11-24  26.738573  291.254246  109.437899  25.170238
2009-11-25  26.705875  292.577910  108.881854  25.069255
2009-11-27  26.235033  289.590906  107.530239  24.589580
2009-11-30  26.146096  291.209293  108.086284  24.749472
2009-12-01  25.761576  294.640874  109.446455  25.254391
2009-12-02  25.664793  293.462046  108.821972  25.060839
2009-12-03  25.697489  292.577910  109.112829  25.102915
2009-12-04  25.284196  292.213294  108.856191  25.229145
2009-12-07  24.712646  292.832667  108.676547  25.069255
2009-12-08  24.832973  293.232260  108.471241  24.884117
2009-12-09  25.870132  294.216280  109.831405  25.001931
2009-12-10  25.690950  295.455055  110.644082  25.136577
2009-12-11  25.460760  294.960537  110.934932  25.119746
2009-12-14  25.762884  297.567930  111.148795  25.338545
2009-12-15  25.395366  296.274225  109.916956  25.262807
2009-12-16  25.507845  298.581939  110.105156  25.330129
2009-12-17  25.093243  296.673849  108.984510  24.909363
2009-12-18  25.560161  297.912594  109.420792  25.548928
2009-12-21  25.926370  299.041480  110.053818  25.683573
2009-12-22  26.204953  300.260243  111.148795  25.936032
2009-12-23  26.432526  305.534978  111.208683  26.020186
2009-12-24  27.340204  308.931613  111.696296  26.087508
2009-12-28  27.676332  311.124419  113.184773  26.230569
2009-12-29  27.348052  309.391155  112.791273  26.415706
2009-12-30  27.680255  311.054464  113.407199  26.053846
2009-12-31  27.561238  309.680858  111.978584  25.649911

[2515 rows x 4 columns]

In [18]:
volumn

                 AAPL       GOOG       IBM       MSFT
Date
2000-01-03  133949200        NaN  10347700   53228400
2000-01-04  128094400        NaN   8227800   54119000
2000-01-05  194580400        NaN  12733200   64059600
2000-01-06  191993200        NaN   7971900   54976600
2000-01-07  115183600        NaN  11856700   62013600
2000-01-10  126266000        NaN   8540500   44963600
2000-01-11  110387200        NaN   7873300   46743600
2000-01-12  244017200        NaN   6803800   66532400
2000-01-13  258171200        NaN   8489700   83144000
2000-01-14   97594000        NaN  10956600   73416400
2000-01-18  114794400        NaN   7643900   81483600
2000-01-19  149410800        NaN   8634500   97568200
2000-01-20  457783200        NaN  17783400   56349800
2000-01-21  123981200        NaN   7868700   68416200
2000-01-24  110219200        NaN   6499200   63597600
2000-01-25  124286400        NaN   6936900   59823200
2000-01-26   91789600        NaN   4895100   49365000
2000-01-27   85036000        NaN   8324600   63654800
2000-01-28  105837200        NaN   6669400   58225400
2000-01-31  175420000        NaN   6202700   73194200
2000-02-01   79508800        NaN   7304700   70196600
2000-02-02  116048800        NaN   7707700   49915600
2000-02-03  118798400        NaN   6213800   49186000
2000-02-04  106330000        NaN   5405300   55365400
2000-02-07  110266800        NaN   5779500   40005800
2000-02-08  102160800        NaN   5464300   56229000
2000-02-09   74841200        NaN   5374700   55090000
2000-02-10   75745600        NaN   4446600   54527800
2000-02-11   53062800        NaN   5749400  115559000
2000-02-14   91884800        NaN   4544000   81028600
...               ...        ...       ...        ...
2009-11-18   93580200  3110700.0   3970100   59431200
2009-11-19  135581600  4352200.0   5308400   51967700
2009-11-20  101666600  4027400.0   5354200   42647100
2009-11-23  118724200  5114000.0   7003500   41832700
2009-11-24   79609600  3222400.0   4816500   37341400
2009-11-25   71613500  2933300.0   3967700   32033500
2009-11-27   73814300  2779500.0   3319200   29357900
2009-11-30  106214500  3463000.0   6302700   44172000
2009-12-01  116440800  4657900.0   6578600   49904200
2009-12-02  178815000  3338800.0   4597900   36308600
2009-12-03  112179900  2868000.0   5760000   43095200
2009-12-04  206721200  5046000.0   7068500   58810700
2009-12-07  178689700  3284500.0   4144400   38082700
2009-12-08  172599700  3059300.0   5351400   37402200
2009-12-09  171195500  3575200.0   6071900   44713300
2009-12-10  122417400  3349000.0   7077800   45940200
2009-12-11  107443700  3452800.0   6597200   43744200
2009-12-14  123947600  3841100.0   5201300   34651200
2009-12-15  104864900  4577800.0   7862600   49473200
2009-12-16   88246200  5639800.0   6372500   55737800
2009-12-17   97209700  5297300.0   5909500   43691200
2009-12-18  152192600  7089400.0   9106600   94118000
2009-12-21  152976600  5161600.0   4772500   40129100
2009-12-22   87378900  3775600.0   5535500   36321000
2009-12-23   86381400  4160800.0   4127600   28362700
2009-12-24  125222300  1723800.0   4265100   11083900
2009-12-28  161141400  3408400.0   5800400   25384000
2009-12-29  111301400  2860200.0   4184200   29716200
2009-12-30  103021100  2942100.0   3867000   42006200
2009-12-31   88102700  2448700.0   4223400   31929700

[2515 rows x 4 columns]

In [19]:
#compute percent changes of the prices, DataFrame.pct_change() method

In [20]:
returns=price.pct_change()

In [24]:
returns.tail() #DataFrame.tail(n=5), Returns last n rows

                AAPL      GOOG       IBM      MSFT
Date
2009-12-24  0.034339  0.011117  0.004385  0.002587
2009-12-28  0.012294  0.007098  0.013326  0.005484
2009-12-29 -0.011861 -0.005571 -0.003477  0.007058
2009-12-30  0.012147  0.005376  0.005461 -0.013699
2009-12-31 -0.004300 -0.004416 -0.012597 -0.015504

In [25]:
#Series.corr() method, Series.cov() method
#The corr method of Series computes the correlation of the overlapping, non-NA,
#aligned-by-index values in two Series. Relatedly, cov computes the covariance

In [26]:
returns.MSFT.corr(returns.IBM) #returns-->DataFrame, returns.MSFT-->Series,
                               #Series.corr(), 計算兩個Series的相關係數

0.49597967869722337

In [28]:
returns.MSFT.cov(returns.IBM) #Series.cov(), 計算兩個Series的協方差(covariance)

0.00021595764665711034

In [29]:
#DataFrame’s corr and cov methods, on the other hand, return a full correlation 
#or covariance matrix as a DataFrame, respectively

In [30]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.470676  0.410011  0.424305
GOOG  0.470676  1.000000  0.390689  0.443587
IBM   0.410011  0.390689  1.000000  0.495980
MSFT  0.424305  0.443587  0.495980  1.000000

In [31]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.001027  0.000303  0.000252  0.000309
GOOG  0.000303  0.000580  0.000142  0.000205
IBM   0.000252  0.000142  0.000367  0.000216
MSFT  0.000309  0.000205  0.000216  0.000516

In [32]:
#DataFrame.corrwith(), method
#引數如果是Series --> 返回一個相關係數值
#引述如果是DataFrame --> 則會計算按欄配對的相關係數

In [33]:
returns.corrwith(returns.IBM) #retuens.IBM --> Series object

AAPL    0.410011
GOOG    0.390689
IBM     1.000000
MSFT    0.495980
dtype: float64

In [34]:
returns.corrwith(volumn) #volumn -->DataFrame objecdt

AAPL   -0.057549
GOOG    0.062647
IBM    -0.007892
MSFT   -0.014245
dtype: float64