In [1]:
#05_panda_92.ipynb
#10 MINUTES TO PANDAS

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
#1. Object Creation
#Creating a Series by passing a list of values, letting pandas create a default integer index:

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])

In [7]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
#Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [9]:
dates = pd.date_range('20180101', periods=6)

In [10]:
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2018-01-01 -0.920686  1.072570 -0.104220  0.213592
2018-01-02 -0.189560  1.646193 -0.195637 -0.130994
2018-01-03  0.275680 -0.906112 -0.341803  0.264449
2018-01-04  1.495375 -1.146114  0.788237 -1.425163
2018-01-05 -0.716226 -0.384903  0.408228  0.053752
2018-01-06 -1.518552 -0.026817 -1.460046 -0.985131

In [13]:
#Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [14]:
df2 = pd.DataFrame({ 'A' : 1.,
      'B' : pd.Timestamp('20180101'),
      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
      'D' : np.array([3] * 4,dtype='int32'),
      'E' : pd.Categorical(["test","train","test","train"]),
      'F' : 'foo' })

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2018-01-01  1.0  3   test  foo
1  1.0 2018-01-01  1.0  3  train  foo
2  1.0 2018-01-01  1.0  3   test  foo
3  1.0 2018-01-01  1.0  3  train  foo

In [16]:
#Having specific dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
#2. Viewing Data

In [18]:
#See the top & bottom rows of the frame

In [19]:
df.head()

                   A         B         C         D
2018-01-01 -0.920686  1.072570 -0.104220  0.213592
2018-01-02 -0.189560  1.646193 -0.195637 -0.130994
2018-01-03  0.275680 -0.906112 -0.341803  0.264449
2018-01-04  1.495375 -1.146114  0.788237 -1.425163
2018-01-05 -0.716226 -0.384903  0.408228  0.053752

In [20]:
df.tail(3)

                   A         B         C         D
2018-01-04  1.495375 -1.146114  0.788237 -1.425163
2018-01-05 -0.716226 -0.384903  0.408228  0.053752
2018-01-06 -1.518552 -0.026817 -1.460046 -0.985131

In [21]:
#Display the index, columns, and the underlying numpy data

In [22]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df.values

array([[-0.92068558,  1.07256987, -0.1042202 ,  0.2135923 ],
       [-0.18956029,  1.64619321, -0.1956371 , -0.13099368],
       [ 0.27567955, -0.90611181, -0.34180343,  0.2644491 ],
       [ 1.49537512, -1.14611408,  0.78823653, -1.4251628 ],
       [-0.71622583, -0.38490278,  0.40822766,  0.05375156],
       [-1.51855237, -0.02681651, -1.4600461 , -0.98513098]])

In [25]:
#Describe shows a quick statistic summary of your data

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.262328  0.042470 -0.150874 -0.334916
std    1.058473  1.107522  0.767996  0.702021
min   -1.518552 -1.146114 -1.460046 -1.425163
25%   -0.869571 -0.775810 -0.305262 -0.771597
50%   -0.452893 -0.205860 -0.149929 -0.038621
75%    0.159370  0.797723  0.280116  0.173632
max    1.495375  1.646193  0.788237  0.264449

In [27]:
#Transposing your data

In [28]:
df.T

   2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05  2018-01-06
A   -0.920686   -0.189560    0.275680    1.495375   -0.716226   -1.518552
B    1.072570    1.646193   -0.906112   -1.146114   -0.384903   -0.026817
C   -0.104220   -0.195637   -0.341803    0.788237    0.408228   -1.460046
D    0.213592   -0.130994    0.264449   -1.425163    0.053752   -0.985131

In [29]:
#Sorting by an axis, sort_index()

In [30]:
df.sort_index(axis=1, ascending=False) #axis=0/1, ascending=True/False

                   D         C         B         A
2018-01-01  0.213592 -0.104220  1.072570 -0.920686
2018-01-02 -0.130994 -0.195637  1.646193 -0.189560
2018-01-03  0.264449 -0.341803 -0.906112  0.275680
2018-01-04 -1.425163  0.788237 -1.146114  1.495375
2018-01-05  0.053752  0.408228 -0.384903 -0.716226
2018-01-06 -0.985131 -1.460046 -0.026817 -1.518552

In [31]:
#Sorting by values

In [32]:
df.sort_values(by='B',ascending=True) #ascending=True/False

                   A         B         C         D
2018-01-04  1.495375 -1.146114  0.788237 -1.425163
2018-01-03  0.275680 -0.906112 -0.341803  0.264449
2018-01-05 -0.716226 -0.384903  0.408228  0.053752
2018-01-06 -1.518552 -0.026817 -1.460046 -0.985131
2018-01-01 -0.920686  1.072570 -0.104220  0.213592
2018-01-02 -0.189560  1.646193 -0.195637 -0.130994

In [33]:
#3. Selection

In [34]:
#3.1 Getting, Selecting a single column, which yields a Series, equivalent to df.A

In [35]:
df['A'] #df.A

2018-01-01   -0.920686
2018-01-02   -0.189560
2018-01-03    0.275680
2018-01-04    1.495375
2018-01-05   -0.716226
2018-01-06   -1.518552
Freq: D, Name: A, dtype: float64

In [36]:
#Selecting via [], which slices the rows.

In [37]:
df[0:3]

                   A         B         C         D
2018-01-01 -0.920686  1.072570 -0.104220  0.213592
2018-01-02 -0.189560  1.646193 -0.195637 -0.130994
2018-01-03  0.275680 -0.906112 -0.341803  0.264449

In [38]:
df['20180102':'20180104']

                   A         B         C         D
2018-01-02 -0.189560  1.646193 -0.195637 -0.130994
2018-01-03  0.275680 -0.906112 -0.341803  0.264449
2018-01-04  1.495375 -1.146114  0.788237 -1.425163

In [39]:
#3.2 Selection by Label, df.loc[]

In [40]:
dates[0]

Timestamp('2018-01-01 00:00:00', freq='D')

In [41]:
df.loc[dates[0]]

A   -0.920686
B    1.072570
C   -0.104220
D    0.213592
Name: 2018-01-01 00:00:00, dtype: float64

In [42]:
#Selecting on a multi-axis by label

In [43]:
df.loc[:,['A','D']]

                   A         D
2018-01-01 -0.920686  0.213592
2018-01-02 -0.189560 -0.130994
2018-01-03  0.275680  0.264449
2018-01-04  1.495375 -1.425163
2018-01-05 -0.716226  0.053752
2018-01-06 -1.518552 -0.985131

In [44]:
#Showing label slicing, both endpoints are included

In [45]:
df.loc['20180102':'20180104',['A','D']]

                   A         D
2018-01-02 -0.189560 -0.130994
2018-01-03  0.275680  0.264449
2018-01-04  1.495375 -1.425163

In [46]:
#Reduction in the dimensions of the returned object

In [47]:
df.loc['20180102',['A','D']]

A   -0.189560
D   -0.130994
Name: 2018-01-02 00:00:00, dtype: float64

In [48]:
#getting a scalar value, df.at[]

In [49]:
df.loc[dates[0],'A']

-0.92068557780092863

In [50]:
df.at[dates[0],'A']

-0.92068557780092863

In [51]:
#5.3.3 Selection by Position, df.iloc[]

In [52]:
#Select via the position of the passed integers

In [53]:
df.iloc[3]

A    1.495375
B   -1.146114
C    0.788237
D   -1.425163
Name: 2018-01-04 00:00:00, dtype: float64

In [54]:
#By integer slices, acting similar to numpy/python

In [55]:
df.iloc[3:5,0:2]

                   A         B
2018-01-04  1.495375 -1.146114
2018-01-05 -0.716226 -0.384903

In [56]:
#By lists of integer position locations, similar to the numpy/python style

In [57]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2018-01-02 -0.189560 -0.195637
2018-01-03  0.275680 -0.341803
2018-01-05 -0.716226  0.408228

In [58]:
#For slicing rows explicitly

In [59]:
df.iloc[1:3,:]

                  A         B         C         D
2018-01-02 -0.18956  1.646193 -0.195637 -0.130994
2018-01-03  0.27568 -0.906112 -0.341803  0.264449

In [60]:
#For slicing columns explicitly

In [61]:
df.iloc[:,1:3]

                   B         C
2018-01-01  1.072570 -0.104220
2018-01-02  1.646193 -0.195637
2018-01-03 -0.906112 -0.341803
2018-01-04 -1.146114  0.788237
2018-01-05 -0.384903  0.408228
2018-01-06 -0.026817 -1.460046

In [62]:
#For getting a value explicitly, iat[]

In [63]:
df.iloc[1,1]

1.6461932075107042

In [64]:
df.iat[1,1]

1.6461932075107042

In [65]:
#3.4 Boolean Indexing

In [66]:
#Using a single column’s values to select data.

In [67]:
df[df.A > 0]

                   A         B         C         D
2018-01-03  0.275680 -0.906112 -0.341803  0.264449
2018-01-04  1.495375 -1.146114  0.788237 -1.425163

In [68]:
#Selecting values from a DataFrame where a boolean condition is met.

In [69]:
df[df > 0]

                   A         B         C         D
2018-01-01       NaN  1.072570       NaN  0.213592
2018-01-02       NaN  1.646193       NaN       NaN
2018-01-03  0.275680       NaN       NaN  0.264449
2018-01-04  1.495375       NaN  0.788237       NaN
2018-01-05       NaN       NaN  0.408228  0.053752
2018-01-06       NaN       NaN       NaN       NaN

In [70]:
#Using the isin() method for filtering: isin()

In [71]:
df2=df.copy()

In [72]:
df2['E'] = ['one', 'one','two','three','four','three']

In [73]:
df2

                   A         B         C         D      E
2018-01-01 -0.920686  1.072570 -0.104220  0.213592    one
2018-01-02 -0.189560  1.646193 -0.195637 -0.130994    one
2018-01-03  0.275680 -0.906112 -0.341803  0.264449    two
2018-01-04  1.495375 -1.146114  0.788237 -1.425163  three
2018-01-05 -0.716226 -0.384903  0.408228  0.053752   four
2018-01-06 -1.518552 -0.026817 -1.460046 -0.985131  three

In [74]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2018-01-03  0.275680 -0.906112 -0.341803  0.264449   two
2018-01-05 -0.716226 -0.384903  0.408228  0.053752  four

In [75]:
df2['E'].isin(['two','four'])

2018-01-01    False
2018-01-02    False
2018-01-03     True
2018-01-04    False
2018-01-05     True
2018-01-06    False
Freq: D, Name: E, dtype: bool

In [76]:
#3.5 Setting

In [77]:
#Setting a new column automatically aligns the data by the indexes

In [78]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20180102', periods=6))

In [79]:
s1

2018-01-02    1
2018-01-03    2
2018-01-04    3
2018-01-05    4
2018-01-06    5
2018-01-07    6
Freq: D, dtype: int64

In [80]:
#Setting values by label
df.at[dates[0],'A'] = 0 #df.iat[0,0]

In [81]:
#Setting values by position
df.iat[0,1] = 0 #df.at[dates[0],'B']

In [82]:
#Setting by assigning with a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

In [83]:
np.array([5]*6)

array([5, 5, 5, 5, 5, 5])

In [84]:
#The result of the prior setting operations
df

                   A         B         C  D
2018-01-01  0.000000  0.000000 -0.104220  5
2018-01-02 -0.189560  1.646193 -0.195637  5
2018-01-03  0.275680 -0.906112 -0.341803  5
2018-01-04  1.495375 -1.146114  0.788237  5
2018-01-05 -0.716226 -0.384903  0.408228  5
2018-01-06 -1.518552 -0.026817 -1.460046  5

In [85]:
#A where operation with setting. where operation

In [86]:
df2 = df.copy()

In [87]:
df2

                   A         B         C  D
2018-01-01  0.000000  0.000000 -0.104220  5
2018-01-02 -0.189560  1.646193 -0.195637  5
2018-01-03  0.275680 -0.906112 -0.341803  5
2018-01-04  1.495375 -1.146114  0.788237  5
2018-01-05 -0.716226 -0.384903  0.408228  5
2018-01-06 -1.518552 -0.026817 -1.460046  5

In [88]:
df2[df2>0]=-df2 #df2>0, -df2

In [89]:
df2

                   A         B         C  D
2018-01-01  0.000000  0.000000 -0.104220 -5
2018-01-02 -0.189560 -1.646193 -0.195637 -5
2018-01-03 -0.275680 -0.906112 -0.341803 -5
2018-01-04 -1.495375 -1.146114 -0.788237 -5
2018-01-05 -0.716226 -0.384903 -0.408228 -5
2018-01-06 -1.518552 -0.026817 -1.460046 -5

In [90]:
df.where(df<=0,-df) #Dataframe.where 與numpy.where 用法不同

                   A         B         C  D
2018-01-01  0.000000  0.000000 -0.104220 -5
2018-01-02 -0.189560 -1.646193 -0.195637 -5
2018-01-03 -0.275680 -0.906112 -0.341803 -5
2018-01-04 -1.495375 -1.146114 -0.788237 -5
2018-01-05 -0.716226 -0.384903 -0.408228 -5
2018-01-06 -1.518552 -0.026817 -1.460046 -5

In [91]:
#4. Missing Data

In [92]:
df #目前df

                   A         B         C  D
2018-01-01  0.000000  0.000000 -0.104220  5
2018-01-02 -0.189560  1.646193 -0.195637  5
2018-01-03  0.275680 -0.906112 -0.341803  5
2018-01-04  1.495375 -1.146114  0.788237  5
2018-01-05 -0.716226 -0.384903  0.408228  5
2018-01-06 -1.518552 -0.026817 -1.460046  5

In [93]:
#create df1, .reindex() 並加上 'E' column 
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [94]:
df1

                   A         B         C  D   E
2018-01-01  0.000000  0.000000 -0.104220  5 NaN
2018-01-02 -0.189560  1.646193 -0.195637  5 NaN
2018-01-03  0.275680 -0.906112 -0.341803  5 NaN
2018-01-04  1.495375 -1.146114  0.788237  5 NaN

In [95]:
# .loc[] 指定第一行到第二行 column 'E'的值為1
df1.loc[dates[0]:dates[1],'E'] = 1

In [96]:
df1

                   A         B         C  D    E
2018-01-01  0.000000  0.000000 -0.104220  5  1.0
2018-01-02 -0.189560  1.646193 -0.195637  5  1.0
2018-01-03  0.275680 -0.906112 -0.341803  5  NaN
2018-01-04  1.495375 -1.146114  0.788237  5  NaN

In [97]:
#drop any rows that have missing data. --> DataFrame.dropna(how=)
df1.dropna(how='any')

                  A         B         C  D    E
2018-01-01  0.00000  0.000000 -0.104220  5  1.0
2018-01-02 -0.18956  1.646193 -0.195637  5  1.0

In [98]:
#Filling missing data. --> DataFrame.fillna(values=)
df1.fillna(value=5)

                   A         B         C  D    E
2018-01-01  0.000000  0.000000 -0.104220  5  1.0
2018-01-02 -0.189560  1.646193 -0.195637  5  1.0
2018-01-03  0.275680 -0.906112 -0.341803  5  5.0
2018-01-04  1.495375 -1.146114  0.788237  5  5.0

In [99]:
#To get the boolean mask where values are nan. --> pd.isnull(DataFrame), pd.notnull(DataFrame)
pd.isnull(df1)

                A      B      C      D      E
2018-01-01  False  False  False  False  False
2018-01-02  False  False  False  False  False
2018-01-03  False  False  False  False   True
2018-01-04  False  False  False  False   True

In [100]:
pd.notnull(df1)

               A     B     C     D      E
2018-01-01  True  True  True  True   True
2018-01-02  True  True  True  True   True
2018-01-03  True  True  True  True  False
2018-01-04  True  True  True  True  False