In [1]:
#05_panda_05a_20170201.ipynb, 中場練習

In [2]:
import pandas as pd
from pandas import DataFrame,Series
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#練習:六都人口與土地面積 
#    字典 dict_city 建構成 DataFrame df_city
dict_city={'都':['臺北','新北','桃園','臺中','臺南','高雄'],
           '人口':[2695704,3979208,2147763,2767239,1886033,2779371],
           '土地':[271,2052,1220,2214,2191,2952]}

In [4]:
dict_city

{'人口': [2695704, 3979208, 2147763, 2767239, 1886033, 2779371],
 '土地': [271, 2052, 1220, 2214, 2191, 2952],
 '都': ['臺北', '新北', '桃園', '臺中', '臺南', '高雄']}

In [5]:
df_city=DataFrame(dict_city,columns=['都','人口','土地'],
                  index=['Tpi','Ntc','Tao','Tcg','Tna','Kao'])

In [6]:
df_city

      都       人口    土地
Tpi  臺北  2695704   271
Ntc  新北  3979208  2052
Tao  桃園  2147763  1220
Tcg  臺中  2767239  2214
Tna  臺南  1886033  2191
Kao  高雄  2779371  2952

In [8]:
df2_city=df_city.set_index('都')

In [10]:
df2_city

         人口    土地
都
臺北  2695704   271
新北  3979208  2052
桃園  2147763  1220
臺中  2767239  2214
臺南  1886033  2191
高雄  2779371  2952

In [ ]:
#練習:計算最多與最少人口及土地面積差距

In [7]:
lfun=lambda x:x.max()-x.min()

In [11]:
df2_city.apply(lfun)

人口    2093175
土地       2681
dtype: int64