In [1]:
#05_panda_06_20160813,Sorting and ranking

In [2]:
from pandas import DataFrame,Series #import DataDrame(), Series()

In [3]:
import pandas as pd #慣例

In [4]:
import numpy as np #import numpy as np

In [5]:
import matplotlib.pyplot as plt #for drawing

In [6]:
%matplotlib inline

In [7]:
#sort_index() method, returns a new, sorted object

In [8]:
#example 1:

In [9]:
s_obj=Series(range(1,5),index=['a','e','d','b'])

In [10]:
s_obj #Series object s_obj

a    1
e    2
d    3
b    4
dtype: int32

In [11]:
s_obj.sort_index(ascending=False)
#sort_index() method, 降冪排序

e    2
d    3
b    4
a    1
dtype: int32

In [12]:
#example 2:

In [13]:
s_ob2=Series(range(4),index=list('fdac'))

In [14]:
s_ob2

f    0
d    1
a    2
c    3
dtype: int32

In [15]:
s_ob2.sort_index()
#sort_index, 預設為昇冪
#(ascending=True)

a    2
c    3
d    1
f    0
dtype: int32

In [16]:
s_ob2.sort_values(ascending=False) 
#sort_values, 降冪

c    3
a    2
d    1
f    0
dtype: int32

In [17]:
s_ob2.order() #Series.order() 也可以依值排序, 但建議改用 sort_values()

E:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

f    0
d    1
a    2
c    3
dtype: int32

In [18]:
#Series Object 排序時, null 物件會放在最後

In [19]:
s_ob3=s_ob2.reindex(index=list('fdabc'))

In [20]:
s_ob3 #有NaN值的 Series Object

f    0.0
d    1.0
a    2.0
b    NaN
c    3.0
dtype: float64

In [21]:
s_ob3.sort_values()

f    0.0
d    1.0
a    2.0
c    3.0
b    NaN
dtype: float64

In [22]:
s_ob3.sort_values(ascending=False) 
#不管升降冪, NaN 都放最後

c    3.0
a    2.0
d    1.0
f    0.0
b    NaN
dtype: float64

In [23]:
#With a DataFrame, you can sort by index on either axis

In [24]:
df1=DataFrame(np.arange(8).reshape(2,4),
             index=['2015','2016'],
             columns=['D','A','B','C'])

In [25]:
df1 #DataFrame Object df1

      D  A  B  C
2015  0  1  2  3
2016  4  5  6  7

In [27]:
df1.sort_index(ascending=False) 
#依索引降冪排序 (沿軸0, 預設 axis=0)

      D  A  B  C
2016  4  5  6  7
2015  0  1  2  3

In [30]:
df1.sort_index(axis=1,ascending=True)
#沿軸1 (axis=1), 昇冪排序

      A  B  C  D
2015  1  2  3  0
2016  5  6  7  4