In [1]:
#05_panda_10a_20160816,Unique Values, Value Counts, and Membership

In [2]:
from pandas import DataFrame,Series #import DataFrame,Series

In [3]:
import pandas as pd #慣例

In [4]:
from  pandas_datareader import data as web #

In [5]:
import numpy as np #import numpy as np

In [6]:
import matplotlib.pyplot as plt #for drawing

In [7]:
%matplotlib inline

In [8]:
#extracts information about the values contained in a
#one-dimensional Series. unique() function

In [9]:
#example 1:

In [10]:
s_01=Series(list('cadaabbcc')) #Series Object s_01

In [11]:
s_01

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [12]:
uni_obj=s_01.unique() #叫用 Series.unique() method

In [13]:
uni_obj #未排序的唯一值

array(['c', 'a', 'd', 'b'], dtype=object)

In [18]:
uni_obj.sort() #叫用sort() method 將自身排序

In [19]:
uni_obj

array(['a', 'b', 'c', 'd'], dtype=object)

In [20]:
#Series.value_counts() method, computes a Series containing
#value frequencies

In [21]:
s_01.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [22]:
#或是直接就用 pd.value_counts() function

In [23]:
pd.value_counts(s_01.values,sort=False) #計算出現頻率,依原index順序

a    3
d    1
b    2
c    3
dtype: int64

In [24]:
#成員資格判斷, isin() method

In [25]:
mask=s_01.isin(['b','c'])

In [26]:
s_01

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [29]:
mask #mask 是一個與原Series Object s_01 等長的
     #布林值 Series Object

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [30]:
s_01[mask] #使用mask做布林運算

0    c
5    b
6    b
7    c
8    c
dtype: object

In [31]:
#compute a histogram on multiple related columns in a DataFrame

In [32]:
df1=DataFrame({'Q1':[1,3,4,3,4],
               'Q2':[2,3,1,2,3],
               'Q3':[1,5,2,4,4]})

In [33]:
df1

   Q1  Q2  Q3
0   1   2   1
1   3   3   5
2   4   1   2
3   3   2   4
4   4   3   4

In [34]:
result=df1.apply(pd.value_counts).fillna(0)

In [35]:
result

    Q1   Q2   Q3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0