In [1]:
#07_Data_Wrangling_11_20170117.ipynb
#Data Transformation -->Replacing Values

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
import matplotlib.pylab as plt

In [3]:
#Replacing Values--> fillna() method,replace()

In [4]:
data=Series([1.,-999.,2.,-999.,-1000.,3.])
#Series Object data

In [5]:
data #Series Object data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [6]:
data.replace(-999,np.nan)
#將-999 置換為 np.nan

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [7]:
data.replace([-999,-1000],np.nan)
#將[-999,-1000] 置換為 np.nan

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [9]:
data.replace([-999,-1000],[np.nan,0])
#-999 --> np.nan, -1000 --> 0

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [10]:
data.replace({-999:np.nan,-1000:0})
#-999 --> np.nan, -1000 --> 0
#參數改用字典

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64