In [1]:
#Import Conventions
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
from pandas import DataFrame,Series

In [2]:
#concatenate data, DataFrame Object, pd.concat()
df1=DataFrame(np.arange(6).reshape(3,2),index=['a','b','c']
              ,columns=['甲','乙'])

df2=DataFrame(2*np.arange(4).reshape(2,2),index=['a','c']
              ,columns=['丙','丁'])

In [3]:
df1

   甲  乙
a  0  1
b  2  3
c  4  5

In [4]:
df2

   丙  丁
a  0  2
c  4  6

In [9]:
pd.concat([df1,df2],axis=1)
#沿軸1(-->),預設為 join='outer'

   甲  乙    丙    丁
a  0  1  0.0  2.0
b  2  3  NaN  NaN
c  4  5  4.0  6.0

In [10]:
pd.concat([df1,df2],axis=1,join='outer')
#預設為 join='outer', like SQL outer join

   甲  乙    丙    丁
a  0  1  0.0  2.0
b  2  3  NaN  NaN
c  4  5  4.0  6.0

In [11]:
pd.concat([df1,df2],axis=1,join='inner')
#改為 join='inner', like SQL inner join

   甲  乙  丙  丁
a  0  1  0  2
c  4  5  4  6