In [1]:
#07_Data_Wrangling_99_20170110.ipynb
#pandas.DataFrame.stack

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import DataFrame,Series

In [5]:
#pandas.DataFrame.stack
#DataFrame.stack(level=-1, dropna=True)
#http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html

In [14]:
df1=DataFrame(np.arange(1,13).reshape(4,3),
              columns=['甲','乙','丙'],
              index=['one','two','three','four'])

In [20]:
df1.T

   one  two  three  four
甲    1    4      7    10
乙    2    5      8    11
丙    3    6      9    12

In [22]:
s1=df1.T.stack()

In [24]:
type(s1)

pandas.core.series.Series

In [25]:
s1

甲  one       1
   two       4
   three     7
   four     10
乙  one       2
   two       5
   three     8
   four     11
丙  one       3
   two       6
   three     9
   four     12
dtype: int32

In [29]:
s1.unstack(-1)

   one  two  three  four
甲    1    4      7    10
乙    2    5      8    11
丙    3    6      9    12