In [1]:
#07_Data_Wrangling_09_20170110.ipynb
#Data Transformation --> Removing Duplicates

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import DataFrame,Series

In [5]:
import matplotlib.pyplot as plt

In [6]:
#duplicated() / drop_duplicates() method

In [7]:
data=DataFrame({'k1':['one']*3+['two']*4,
                'k2':[1,1,2,3,3,4,4]})

In [8]:
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [9]:
data.duplicated()
#傳回一個布林型別的 Series

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [10]:
data.drop_duplicates()
#傳回移除重複的 DataFrame

    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [12]:
data['v1']=range(7)
#新增'v1'欄位並填值
#range(7)

In [13]:
data

    k1  k2  v1
0  one   1   0
1  one   1   1
2  one   2   2
3  two   3   3
4  two   3   4
5  two   4   5
6  two   4   6

In [14]:
data.drop_duplicates('k1')
#只依'k1' drop duplicate
#預設保留第一筆

    k1  k2  v1
0  one   1   0
3  two   3   3

In [16]:
data.drop_duplicates(['k1','k2'],
                    keep='last')
#只依'k1,k2' drop duplicate
#預設保留最後一筆

    k1  k2  v1
1  one   1   1
2  one   2   2
4  two   3   4
6  two   4   6