In [1]:
#09_Aggregation_and_Group_01_20160912

In [2]:
import pandas as pd

In [3]:
from pandas import DataFrame,Series

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [7]:
df=DataFrame({'key1':['a','a','b','b','a'],
              'key2':['one','two','one','two','one'],
              'data1':np.random.randn(5),
              'data2':np.random.randn(5)})

In [8]:
df

      data1     data2 key1 key2
0  0.927004 -0.148286    a  one
1  0.632656  0.819786    a  two
2 -0.338013  0.355005    b  one
3 -0.277090 -1.237264    b  two
4 -0.172835  1.365105    a  one

In [9]:
groupd=df['data1'].groupby(df['key1'])

In [10]:
type(groupd)

pandas.core.groupby.SeriesGroupBy

In [11]:
groupd.mean()

key1
a    0.462275
b   -0.307551
Name: data1, dtype: float64

In [12]:
groupd_mean=df['data1'].groupby(df['key1']).mean()

In [13]:
groupd_mean

key1
a    0.462275
b   -0.307551
Name: data1, dtype: float64

In [14]:
type(groupd_mean)

pandas.core.series.Series