In [1]:
#A_ch04_002_Categorical.ipynb
#數字可編碼類別

In [2]:
#類別特徵(categorical feature) 可能是限定數量的文字如: workclass{private,govment,emp-of-self,emp-of-pri}
#但也可能因資料收集方式，而以整數方式表現如: workclass: 0,1,2,3 
#即便是整數,連續數值, 但在上例中整數0與2並無法比較(無大小或順序關係) 
#所以仍應視為離散資料型別,categorical feature
#但在未了解欄位語意時，machine learning package 中的 feature function 如pandas.get_dummies()
#會直接依workclass datatype(int),將workclass視為數值直接帶入演算法中計算

#當我們解讀欄位語意,得知欄位為 "數字可編碼" 分類類別時, 
#我們可以這麼做 workclass{0:private,1:govment,2:emp-of-self,3:emp-of-pri}編碼
#然後以兩種方式實作: 1.scikit-learn OneHotEncoding 2.pandas DataFrame 將數字欄位轉為字串 ("0","1",...)

In [3]:
#舉例說明:

In [4]:
#create a pandas DataFrame demo_df, 具備整數 feature 及 字串 feature
import pandas as pd
from pandas import DataFrame
import numpy as np

In [5]:
demo_df=DataFrame({'Int_feature':[0,1,2,3,2],
                   'Categorical_feature':['private','govment','self','private','emp-of-pri']})

In [6]:
#檢視 DataFrame demo_df
demo_df

  Categorical_feature  Int_feature
0             private            0
1             govment            1
2                self            2
3             private            3
4          emp-of-pri            2

In [7]:
#叫用pandas.get_dummies(),將DataFrame dem_df 編碼
pd.get_dummies(demo_df)

,Int_feature,Categorical_feature_emp-of-pri,Categorical_feature_govment,Categorical_feature_private,Categorical_feature_self
0,0,0,0,1,0
1,1,0,1,0,0
2,2,0,0,0,1
3,3,0,0,1,0
4,2,1,0,0,0

In [8]:
#int_feature 欄位並不受 get_dummies() 影響
#我們以 2. DataFrame 欄位轉型的方法將 int_feature 轉成字串資料型別
demo_df['Int_feature']=demo_df['Int_feature'].astype(str)

In [9]:
type(demo_df['Int_feature'][0])

str

In [10]:
#再次叫用pandas.get_dummies(),將DataFrame demo_df 編碼
pd.get_dummies(demo_df)

,Categorical_feature_emp-of-pri,Categorical_feature_govment,Categorical_feature_private,Categorical_feature_self,Int_feature_0,Int_feature_1,Int_feature_2,Int_feature_3
0,0,0,1,0,1,0,0,0
1,0,1,0,0,0,1,0,0
2,0,0,0,1,0,0,1,0
3,0,0,1,0,0,0,0,1
4,1,0,0,0,0,0,1,0

In [11]:
#get_dummies() 對 demo_df.Int_feature 有作用