In [1]:
#Crosstab_example_01.ipynb

In [2]:
import pandas as pd
from pandas import DataFrame

In [4]:
df_predict=pd.DataFrame([3, 8, 8, 0, 6, 6, 1, 6, 3, 1, 0, 9, 5, 7, 9, 8, 5, 7, 8, 6, 3, 0, 2,
       9, 4, 4, 4, 0, 9, 6, 6, 2, 2, 2, 9, 6, 7, 1, 9, 5, 4, 6, 5, 6, 0, 9,
       3, 3, 7, 6, 9, 8, 6, 6, 8, 8, 7, 6, 6, 5, 7, 5, 6, 2, 6, 2, 1, 2, 3,
       7, 2, 6, 8, 8, 0, 2, 0, 3, 3, 8, 8, 1, 1, 7, 2, 7, 2, 0, 8, 9, 0, 3,
       8, 6, 4, 6, 6, 0, 0, 7])

In [5]:
df_label=pd.DataFrame([3, 8, 8, 0, 6, 6, 1, 6, 3, 1, 0, 9, 5, 7, 9, 8, 5, 7, 8, 6, 7, 0, 4,
       9, 5, 2, 4, 0, 9, 6, 6, 5, 4, 5, 9, 2, 4, 1, 9, 5, 4, 6, 5, 6, 0, 9,
       3, 9, 7, 6, 9, 8, 0, 3, 8, 8, 7, 7, 4, 6, 7, 3, 6, 3, 6, 2, 1, 2, 3,
       7, 2, 6, 8, 8, 0, 2, 9, 3, 3, 8, 8, 1, 1, 7, 2, 5, 2, 7, 8, 9, 0, 3,
       8, 6, 4, 6, 6, 0, 0, 7])

In [6]:
#檢視 df_predict
df_predict

    0
0   3
1   8
2   8
3   0
4   6
5   6
6   1
7   6
8   3
9   1
10  0
11  9
12  5
13  7
14  9
15  8
16  5
17  7
18  8
19  6
20  3
21  0
22  2
23  9
24  4
25  4
26  4
27  0
28  9
29  6
.. ..
70  2
71  6
72  8
73  8
74  0
75  2
76  0
77  3
78  3
79  8
80  8
81  1
82  1
83  7
84  2
85  7
86  2
87  0
88  8
89  9
90  0
91  3
92  8
93  6
94  4
95  6
96  6
97  0
98  0
99  7

[100 rows x 1 columns]

In [7]:
#檢視 df_label
df_label

    0
0   3
1   8
2   8
3   0
4   6
5   6
6   1
7   6
8   3
9   1
10  0
11  9
12  5
13  7
14  9
15  8
16  5
17  7
18  8
19  6
20  7
21  0
22  4
23  9
24  5
25  2
26  4
27  0
28  9
29  6
.. ..
70  2
71  6
72  8
73  8
74  0
75  2
76  9
77  3
78  3
79  8
80  8
81  1
82  1
83  7
84  2
85  5
86  2
87  7
88  8
89  9
90  0
91  3
92  8
93  6
94  4
95  6
96  6
97  0
98  0
99  7

[100 rows x 1 columns]

In [10]:
#以 pandas.crosstab 建立 cross table
pd.crosstab(df_predict[0],df_label[0],rownames=['label'],colnames=['predict'])

predict  0  1  2  3  4  5   6  7   8  9
label
0        9  0  0  0  0  0   0  1   0  1
1        0  6  0  0  0  0   0  0   0  0
2        0  0  6  1  2  2   0  0   0  0
3        0  0  0  7  0  0   0  1   0  1
4        0  0  1  0  3  1   0  0   0  0
5        0  0  0  1  0  4   1  0   0  0
6        1  0  1  1  1  0  15  1   0  0
7        0  0  0  0  1  1   0  8   0  0
8        0  0  0  0  0  0   0  0  13  0
9        0  0  0  0  0  0   0  0   0  9