In [35]:
import pymysql #import module pymysql

In [29]:
conn=pymysql.connect(user='root', password='jack321', host='127.0.0.1',database='test')

In [36]:
curs=cnn.cursor() #cursor curs

In [31]:
curs.execute('''CREATE TABLE zoo 
(critter VARCHAR(20) PRIMARY KEY,
count INT,
damages FLOAT)''')

ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 14))

InternalError: (1050, "Table 'zoo' already exists")

In [37]:
curs.execute('INSERT INTO zoo VALUES("duck",5,0.0)')

1

In [38]:
curs.execute('INSERT INTO zoo VALUES("bear",2,1000.0)')

1

In [39]:
curs.execute('INSERT INTO zoo VALUES("weasel",1,2000.0)')

1

In [40]:
conn.commit()

InterfaceError: (0, '')

In [12]:
curs.execute('SELECT * FROM zoo')

3

In [13]:
rows=curs.fetchall()

In [14]:
print(rows)

(('bear', 2, 1000.0), ('duck', 5, 0.0), ('weasel', 1, 2000.0))

In [15]:
curs.execute('SELECT * FROM zoo ORDER BY count')

3

In [16]:
print(curs.fetchall())

(('weasel', 1, 2000.0), ('bear', 2, 1000.0), ('duck', 5, 0.0))

In [17]:
curs.execute('SELECT * FROM zoo ORDER BY count DESC')

3

In [18]:
print(curs.fetchall())

(('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0))

In [19]:
curs.execute('''SELECT * FROM zoo WHERE
damages = (SELECT MAX(damages) FROM zoo)''')

1

In [20]:
print(curs.fetchall())

(('weasel', 1, 2000.0),)

In [32]:
curs.close()

In [33]:
conn.close()

In [34]:
run c:\users\zzjack\data_7_MySQL.py

(('bear', 2, 1000.0), ('duck', 5, 0.0), ('weasel', 1, 2000.0))
(('weasel', 1, 2000.0), ('bear', 2, 1000.0), ('duck', 5, 0.0))
(('duck', 5, 0.0), ('bear', 2, 1000.0), ('weasel', 1, 2000.0))
(('weasel', 1, 2000.0),)