In [2]:
from pandas import Series, DataFrame #import Series,DataFrame

In [3]:
import pandas as pd #慣例

In [4]:
obj=Series([4,7,-5,3]) #建立一個Series物件 obj

In [5]:
obj #Series 物件,有一組數據及一組與之相關的索引,如下:

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
obj.values #顯示 obj的值(數據)

array([ 4,  7, -5,  3], dtype=int64)

In [7]:
obj.index #顯示 obj的索引

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2=Series([4,7,-5,3], index=['d','b','a','c']) #建立一個自訂index的Series物件obj2

In [9]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [11]:
obj2[obj2 > 0] #filtering with a boolean array

d    4
b    7
c    3
dtype: int64

In [12]:
obj2*2 #scalar multiplication

d     8
b    14
a   -10
c     6
dtype: int64

In [13]:
import numpy as np #import NumPy as np

In [14]:
np.exp(obj2) #applying math functions

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [12]:
#Another way to think about a Series is as a fixed-length, ordered dict

In [13]:
'b' in obj2 #index 'b' in obj2

True

In [14]:
'e' in obj2 #index 'e' not in obj2

False

In [15]:
#you can create a Series from it by passing a dict

In [16]:
dic_data={'Kaohsiung':3000,'Taipei':2500,'Tainan':4020,'Taichung':5100} #dict object

In [17]:
obj3=Series(dic_data) #create a Series obj3 from dic_data

In [18]:
obj3

Kaohsiung    3000
Taichung     5100
Tainan       4020
Taipei       2500
dtype: int64

In [19]:
#When only passing a dict, the index in the resulting Series will have the dict’s keys in sorted order.

In [20]:
city=['Hualien','Kaohsiung','Taipei','Tainan'] #list 'city'

In [21]:
obj4=Series(dic_data,index=city) #create Series obj obj4, dict-->dic_data, index-->city

In [22]:
obj4

Hualien       NaN
Kaohsiung    3000
Taipei       2500
Tainan       4020
dtype: float64

In [23]:
#The isnull and notnull functions in pandas should be used to detect missing data

In [24]:
pd.isnull(obj4) #isnull()

Hualien       True
Kaohsiung    False
Taipei       False
Tainan       False
dtype: bool

In [25]:
pd.notnull(obj4) #notnull()

Hualien      False
Kaohsiung     True
Taipei        True
Tainan        True
dtype: bool

In [26]:
#Series also has these as instance methods

In [27]:
obj4.isnull()

Hualien       True
Kaohsiung    False
Taipei       False
Tainan       False
dtype: bool

In [28]:
#A critical Series feature for many applications is that

In [29]:
#it automatically aligns differentlyindexed data in arithmetic operations

In [30]:
obj3

Kaohsiung    3000
Taichung     5100
Tainan       4020
Taipei       2500
dtype: int64

In [31]:
obj4

Hualien       NaN
Kaohsiung    3000
Taipei       2500
Tainan       4020
dtype: float64

In [32]:
obj3+obj4

Hualien       NaN
Kaohsiung    6000
Taichung      NaN
Tainan       8040
Taipei       5000
dtype: float64

In [33]:
#Both the Series object itself and its index have a name attribute

In [34]:
obj4.name='population' #指定obj4物件,name屬性 值為 'population'

In [35]:
obj4.index.name='city' #指定obj4.index.name屬性 值為 'city'

In [36]:
obj4

city
Hualien       NaN
Kaohsiung    3000
Taipei       2500
Tainan       4020
Name: population, dtype: float64

In [37]:
#A Series’s index can be altered in place by assignment

In [38]:
obj.index=['Bob','Steve','Jeff','Ryan']

In [39]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [40]:
#DataFrame

In [41]:
#Create a DataFrame from a dict of equal-length lists or NumPy arrays

In [42]:
dic_data= {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [43]:
frame1=DataFrame(dic_data)

In [44]:
frame1

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [45]:
#If you specify a sequence of columns, the DataFrame’s columns will be exactly what you pass

In [48]:
DataFrame(dic_data,columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [49]:
# if you pass a column that isn’t contained in data, it will appear with NA values in the result

In [50]:
frame2=DataFrame(dic_data, columns=['year', 'state', 'pop', 'debt'],
                index=['one', 'two', 'three', 'four', 'five'])

In [51]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN