In [1]:
#05_panda_01a_20180817.ipynb
#pandas DataFrame loc,iloc,ix
import pandas as pd

In [2]:
from pandas import DataFrame,Series

In [3]:
import numpy as np

In [4]:
#使用pandas.dtate_range() function,建立一個日期序列 'dates_01'
dates_01 = pd.date_range('8/1/2018', periods=8)

In [9]:
#使用pandas.DataFrame() function,建立一個DataFrame 'df'
#指定 index為日期序列 'dates_01', columns為 ['甲', '乙', '丁', '丙']
#值 (DataFrame.values) 為 np.random.randn(8,4)
df = pd.DataFrame(np.random.randn(8, 4), index=dates_01, columns=['甲', '乙', '丁', '丙'])

In [10]:
df

                   甲         乙         丁         丙
2018-08-01 -0.458154  1.687118  0.432620 -0.305890
2018-08-02  1.345652  1.137522  0.143303 -0.103475
2018-08-03  0.424385  0.645046  0.801084  0.428940
2018-08-04 -0.801386  0.305941 -1.198230 -0.963627
2018-08-05 -0.297151 -0.119252  0.130274 -0.741603
2018-08-06 -0.634673  0.192923 -0.982708 -0.643888
2018-08-07  1.039931 -1.049430 -0.940273  1.055282
2018-08-08 -1.537118  0.289430  1.110027  0.529932

In [11]:
#方法 1:
#擷取 index '2018-08-01'至 '2018-08-05';
#     columns ['甲','丁']
df['2018-08-01':'2018-08-05'][['甲','丁']]

                   甲         丁
2018-08-01 -0.458154  0.432620
2018-08-02  1.345652  0.143303
2018-08-03  0.424385  0.801084
2018-08-04 -0.801386 -1.198230
2018-08-05 -0.297151  0.130274

In [13]:
#練習: 擷取 index '2018-07-01'至 '2018-08-20'試試看

In [14]:
#方法2a: DataFrame.loc() method 
#         Selecting rows by label/index; 
df.loc['2018-08-01':'2018-08-05'][['甲','丁']]

                   甲         丁
2018-08-01 -0.458154  0.432620
2018-08-02  1.345652  0.143303
2018-08-03  0.424385  0.801084
2018-08-04 -0.801386 -1.198230
2018-08-05 -0.297151  0.130274

In [15]:
#方法2b: DataFrame.loc() method
df.loc['2018-08-01':'2018-08-05',['甲','丁']]

                   甲         丁
2018-08-01 -0.458154  0.432620
2018-08-02  1.345652  0.143303
2018-08-03  0.424385  0.801084
2018-08-04 -0.801386 -1.198230
2018-08-05 -0.297151  0.130274

In [16]:
#方法3: DataFrame.iloc() method (integer-location based indexing)
df.iloc[2:6,0:2]

                   甲         乙
2018-08-03  0.424385  0.645046
2018-08-04 -0.801386  0.305941
2018-08-05 -0.297151 -0.119252
2018-08-06 -0.634673  0.192923

In [17]:
#方法4: DataFrame.ix() method
#      新版pandas 0.20 已棄用