In [1]:
#05_panda_00_20180201.ipynb
#10 MINUTES TO PANDAS

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#1. Object Creation

In [5]:
#Creating a Series by passing a list of values, 
#letting pandas create a default integer index:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
#Creating a DataFrame by passing a numpy array, 
#with a datetime index and labeled columns:

In [8]:
dates = pd.date_range('20130101', periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01  0.906415 -1.842934  0.225061  0.255394
2013-01-02 -0.102618  0.935256  1.659974  0.410519
2013-01-03 -0.087863  1.364426 -0.124749 -1.522406
2013-01-04 -1.256400 -0.842997  1.423154  0.297347
2013-01-05 -1.248976 -0.652028 -0.100286 -1.062392
2013-01-06 -0.440467  1.785936 -0.315116 -1.252577

In [12]:
#Creating a DataFrame by passing a dict of objects that 
#can be converted to series-like.

In [13]:
df2 = pd.DataFrame({ 'A' : 1.,
     'B' : pd.Timestamp('20130102'),
     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
     'D' : np.array([3] * 4,dtype='int32'),
     'E' : pd.Categorical(["test","train","test","train"]),
     'F' : 'foo' })

In [14]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
#tab completion
df2.<TAB>

In [15]:
#2. Viewing Data

In [16]:
#See the top & bottom rows of the frame

In [17]:
df.head()

                   A         B         C         D
2013-01-01  0.906415 -1.842934  0.225061  0.255394
2013-01-02 -0.102618  0.935256  1.659974  0.410519
2013-01-03 -0.087863  1.364426 -0.124749 -1.522406
2013-01-04 -1.256400 -0.842997  1.423154  0.297347
2013-01-05 -1.248976 -0.652028 -0.100286 -1.062392

In [18]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.256400 -0.842997  1.423154  0.297347
2013-01-05 -1.248976 -0.652028 -0.100286 -1.062392
2013-01-06 -0.440467  1.785936 -0.315116 -1.252577

In [19]:
#Display the index, columns, and the underlying numpy data

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values

array([[ 0.90641461, -1.84293414,  0.22506074,  0.25539399],
       [-0.10261816,  0.93525556,  1.65997359,  0.41051869],
       [-0.08786329,  1.36442571, -0.12474908, -1.52240605],
       [-1.25639976, -0.84299727,  1.42315418,  0.29734663],
       [-1.24897623, -0.65202803, -0.10028644, -1.06239231],
       [-0.44046682,  1.78593569, -0.31511591, -1.2525772 ]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.371652  0.124610  0.461340 -0.479019
std    0.817751  1.439788  0.857840  0.890029
min   -1.256400 -1.842934 -0.315116 -1.522406
25%   -1.046849 -0.795255 -0.118633 -1.205031
50%   -0.271542  0.141614  0.062387 -0.403499
75%   -0.091552  1.257133  1.123631  0.286858
max    0.906415  1.785936  1.659974  0.410519

In [24]:
#Transposing your data
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.906415   -0.102618   -0.087863   -1.256400   -1.248976   -0.440467
B   -1.842934    0.935256    1.364426   -0.842997   -0.652028    1.785936
C    0.225061    1.659974   -0.124749    1.423154   -0.100286   -0.315116
D    0.255394    0.410519   -1.522406    0.297347   -1.062392   -1.252577

In [25]:
#Sorting by an axis
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.255394  0.225061 -1.842934  0.906415
2013-01-02  0.410519  1.659974  0.935256 -0.102618
2013-01-03 -1.522406 -0.124749  1.364426 -0.087863
2013-01-04  0.297347  1.423154 -0.842997 -1.256400
2013-01-05 -1.062392 -0.100286 -0.652028 -1.248976
2013-01-06 -1.252577 -0.315116  1.785936 -0.440467

In [26]:
#Sorting by values
df.sort_values(by='B')

                   A         B         C         D
2013-01-01  0.906415 -1.842934  0.225061  0.255394
2013-01-04 -1.256400 -0.842997  1.423154  0.297347
2013-01-05 -1.248976 -0.652028 -0.100286 -1.062392
2013-01-02 -0.102618  0.935256  1.659974  0.410519
2013-01-03 -0.087863  1.364426 -0.124749 -1.522406
2013-01-06 -0.440467  1.785936 -0.315116 -1.252577

In [27]:
#3. Selection

In [28]:
#pandas data access methods, .at, .iat, .loc,.iloc and .ix.

In [29]:
#3.1 Getting

In [30]:
#Selecting a single column, which yields a Series, equivalent to df.A
df['A']

2013-01-01    0.906415
2013-01-02   -0.102618
2013-01-03   -0.087863
2013-01-04   -1.256400
2013-01-05   -1.248976
2013-01-06   -0.440467
Freq: D, Name: A, dtype: float64

In [31]:
#Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2013-01-01  0.906415 -1.842934  0.225061  0.255394
2013-01-02 -0.102618  0.935256  1.659974  0.410519
2013-01-03 -0.087863  1.364426 -0.124749 -1.522406

In [32]:
#3.2 Selection by Label

In [33]:
#For getting a cross section using a label
df.loc[dates[0]]

A    0.906415
B   -1.842934
C    0.225061
D    0.255394
Name: 2013-01-01 00:00:00, dtype: float64

In [34]:
#Selecting on a multi-axis by label
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.906415 -1.842934
2013-01-02 -0.102618  0.935256
2013-01-03 -0.087863  1.364426
2013-01-04 -1.256400 -0.842997
2013-01-05 -1.248976 -0.652028
2013-01-06 -0.440467  1.785936

In [35]:
#Showing label slicing, both endpoints are included
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.102618  0.935256
2013-01-03 -0.087863  1.364426
2013-01-04 -1.256400 -0.842997

In [36]:
#Reduction in the dimensions of the returned object
df.loc['20130102',['A','B']]

A   -0.102618
B    0.935256
Name: 2013-01-02 00:00:00, dtype: float64

In [37]:
#getting a scalar value
df.loc[dates[0],'A']

0.90641460515552186

In [38]:
#3.3 Selection by Position

In [39]:
#Select via the position of the passed integers
df.iloc[3]

A   -1.256400
B   -0.842997
C    1.423154
D    0.297347
Name: 2013-01-04 00:00:00, dtype: float64

In [40]:
#By integer slices, acting similar to numpy/python
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -1.256400 -0.842997
2013-01-05 -1.248976 -0.652028

In [41]:
#By lists of integer position locations, similar to the numpy/python style
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.102618  1.659974
2013-01-03 -0.087863 -0.124749
2013-01-05 -1.248976 -0.100286

In [42]:
#For slicing rows explicitly
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.102618  0.935256  1.659974  0.410519
2013-01-03 -0.087863  1.364426 -0.124749 -1.522406

In [43]:
#For slicing columns explicitly
df.iloc[:,1:3]

                   B         C
2013-01-01 -1.842934  0.225061
2013-01-02  0.935256  1.659974
2013-01-03  1.364426 -0.124749
2013-01-04 -0.842997  1.423154
2013-01-05 -0.652028 -0.100286
2013-01-06  1.785936 -0.315116

In [44]:
#For getting a value explicitly
df.iloc[1,1]

0.93525556265788679

In [45]:
#3.4 Boolean Indexing