In [1]:
#06_DataLoading_01b_20160820, xls範例檔,證交所網站資料

In [1]:
import pandas as pd

In [2]:
from pandas import DataFrame,Series

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
%matplotlib inline

In [6]:
df_01=pd.read_excel('20160820_process.xlsx','20160820')

FileNotFoundError: [Errno 2] No such file or directory: '20160820_process.xlsx'

In [8]:
df_01

,證券代號,證券名稱,成交股數,成交筆數,成交金額,成交價,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量
0,2427,三商電,882,3,6350,7.20,7.20,1618,7.31,695
1,2453,凌群,322,3,3864,12.00,12.00,1349,--,0
2,2468,華經,388,6,4498,11.60,11.60,3107,12.4,88
3,2471,資通,869,18,11381,13.10,13.10,1394,--,0
4,2480,敦陽科,1285,21,32567,25.35,25.35,102159,25.75,520
5,3029,零壹,1213,19,21761,17.95,17.95,2445,18,1220
6,3130,一零四,599,9,90449,151.00,151.00,504,151.5,848
7,4994,傳奇,1098,8,57096,52.00,52.00,2084,52.9,1058
8,5203,訊連,1099,20,73633,67.00,67.00,3792,67.2,926
9,6112,聚碩,6783,56,179741,26.50,26.50,18320,26.55,2840
10,6183,關貿,758,4,20541,27.10,27.10,2921,27.55,920
11,6214,精誠,2378,23,123406,51.90,51.90,72421,52,3265

In [9]:
#pandas.read_html('url'), 
#以'http://www.twse.com.tw/ch/trading/exchange/FMTQIK/FMTQIK.php'
#台灣證券交易所為例

In [10]:
#必須先安裝 html5lib

In [11]:
import html5lib

In [12]:
url='http://www.twse.com.tw/ch/trading/exchange/FMTQIK/FMTQIK.php'

In [13]:
df_2=pd.read_html(url)[0]

In [14]:
df_2

            0           1            2       3        4      5
0   105/08/01  3871706261  78804102182  765901  9080.71  96.30
1   105/08/02  3884166772  74010051370  737921  9068.76 -11.95
2   105/08/03  3834059543  70771446177  732463  9001.71 -67.05
3   105/08/04  3829779330  74418273151  713559  9024.71  23.00
4   105/08/05  4226749494  84243393706  791540  9092.12  67.41
5   105/08/08  4083690279  83400282896  751688  9150.26  58.14
6   105/08/09  4066821718  79859408846  799032  9155.08   4.82
7   105/08/10  4225760731  80598942348  792698  9200.42  45.34
8   105/08/11  4760190883  93559858446  880676  9131.83 -68.59
9   105/08/12  4015197342  88441767577  825333  9150.39  18.56
10  105/08/15  4100081258  79893213002  760158  9148.51  -1.88
11  105/08/16  4451022067  84870784913  797042  9110.36 -38.15
12  105/08/17  3978438268  81245429214  839612  9117.70   7.34
13  105/08/18  4015535468  79316393081  753628  9122.50   4.80
14  105/08/19  4388582310  83781157067  808295  9034.27 -88.23