In [1]:
#06_DataLoading_01a_20161014, csv範例檔,證交所網站資料
#201610_F3_1_2.csv --> 201610_F3_1_2_process.csv (以utf-8存檔)

In [2]:
import pandas as pd

In [3]:
from pandas import DataFrame,Series

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [7]:
#file '201610_F3_1_2_process.csv'

In [8]:
!type 201610_F3_1_2_process.csv

嚜踵�交��,���鈭方�⊥��,���鈭日��憿�,���鈭斤�����,��潸��������甈���∪�寞�����,瞍脰��暺����
 105/10/03,"3,002,161,742","55,597,456,402","571,417","9,234.20",67.35
 105/10/04,"3,066,078,644","62,014,403,325","661,773","9,287.77",53.57
 105/10/05,"3,002,597,984","60,936,666,203","615,998","9,272.28",-15.49
 105/10/06,"3,137,942,343","63,331,394,814","633,418","9,284.31",12.03
 105/10/07,"2,981,282,506","63,235,529,397","653,647","9,265.81",-18.5
 105/10/11,"4,127,460,101","89,690,544,555","874,057","9,219.82",-45.99
 105/10/12,"3,407,399,739","66,304,575,010","649,095","9,252.60",32.78
 105/10/13,"3,342,252,755","75,218,324,164","714,011","9,219.17",-33.43
 105/10/14,"3,222,233,294","67,985,163,367","656,200","9,165.17",-54

In [9]:
df1=pd.read_csv('201610_F3_1_2_process.csv') #檔案必須為 'UTF-8' 編碼

In [10]:
df1

           日期           成交股數            成交金額     成交筆數 發行量加權股價指數   漲跌點數
0   105/10/03  3,002,161,742  55,597,456,402  571,417  9,234.20  67.35
1   105/10/04  3,066,078,644  62,014,403,325  661,773  9,287.77  53.57
2   105/10/05  3,002,597,984  60,936,666,203  615,998  9,272.28 -15.49
3   105/10/06  3,137,942,343  63,331,394,814  633,418  9,284.31  12.03
4   105/10/07  2,981,282,506  63,235,529,397  653,647  9,265.81 -18.50
5   105/10/11  4,127,460,101  89,690,544,555  874,057  9,219.82 -45.99
6   105/10/12  3,407,399,739  66,304,575,010  649,095  9,252.60  32.78
7   105/10/13  3,342,252,755  75,218,324,164  714,011  9,219.17 -33.43
8   105/10/14  3,222,233,294  67,985,163,367  656,200  9,165.17 -54.00

In [11]:
#預計將df1.成交金額做累加(cumsum)並以柱狀圖繪圖
#問題是擷取的資料中成交金額 '55,597,456,402' 是字串而且帶有',' ~@@@~
#解決方法是:1.先用str.replace() 將','-->''; 
#          2.以int() --> int

In [12]:
int(df1.成交金額[0].replace(',','')) #試作

55597456402

In [13]:
for s in df1.成交金額:          #以for loop 迭代 df1.df1.成交金額
    s=int(s.replace(',',''))   
    print(s)

55597456402
62014403325
60936666203
63331394814
63235529397
89690544555
66304575010
75218324164
67985163367

In [14]:
#在DataFrame df1 中,將成交金額欄位置換為 int
#Series([串列生成式])
df1['成交金額']=Series([int(s.replace(',','')) for s in df1.成交金額])

#更簡潔的寫法: 
#df1['成交金額']=df1['成交金額'].apply(lambda s:int(s.replace(',','')))

In [15]:
df1

           日期           成交股數         成交金額     成交筆數 發行量加權股價指數   漲跌點數
0   105/10/03  3,002,161,742  55597456402  571,417  9,234.20  67.35
1   105/10/04  3,066,078,644  62014403325  661,773  9,287.77  53.57
2   105/10/05  3,002,597,984  60936666203  615,998  9,272.28 -15.49
3   105/10/06  3,137,942,343  63331394814  633,418  9,284.31  12.03
4   105/10/07  2,981,282,506  63235529397  653,647  9,265.81 -18.50
5   105/10/11  4,127,460,101  89690544555  874,057  9,219.82 -45.99
6   105/10/12  3,407,399,739  66304575010  649,095  9,252.60  32.78
7   105/10/13  3,342,252,755  75218324164  714,011  9,219.17 -33.43
8   105/10/14  3,222,233,294  67985163367  656,200  9,165.17 -54.00

In [16]:
df1.成交金額.cumsum() #累加 cumsum()

0     55597456402
1    117611859727
2    178548525930
3    241879920744
4    305115450141
5    394805994696
6    461110569706
7    536328893870
8    604314057237
Name: 成交金額, dtype: int64

In [17]:
df1.plot(yticks=df1.成交金額,kind='bar',color='g')

In [18]:
#將日期欄位轉為索引, set_index()
df1.set_index('日期')

                     成交股數         成交金額     成交筆數 發行量加權股價指數   漲跌點數
日期
 105/10/03  3,002,161,742  55597456402  571,417  9,234.20  67.35
 105/10/04  3,066,078,644  62014403325  661,773  9,287.77  53.57
 105/10/05  3,002,597,984  60936666203  615,998  9,272.28 -15.49
 105/10/06  3,137,942,343  63331394814  633,418  9,284.31  12.03
 105/10/07  2,981,282,506  63235529397  653,647  9,265.81 -18.50
 105/10/11  4,127,460,101  89690544555  874,057  9,219.82 -45.99
 105/10/12  3,407,399,739  66304575010  649,095  9,252.60  32.78
 105/10/13  3,342,252,755  75218324164  714,011  9,219.17 -33.43
 105/10/14  3,222,233,294  67985163367  656,200  9,165.17 -54.00