In [1]:
#07_Data_Wrangling_15_20170118.ipynb
#Computing Indicator/Dummy Variables

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
import matplotlib.pylab as plt

In [3]:
#dummy matrix, indecator matrix

In [4]:
df=DataFrame({'key':['b','b','a','c','a','b'],
              'data1':range(6)})

In [5]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [6]:
#example 1: get_dummies()--> dummy matrix

In [7]:
pd.get_dummies(df['key'])
#依 'key'欄位值('a','b','c')
#有值的為1,無值的為0

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [8]:
#example 1a: dummy matrix with prefix

In [9]:
dummies=pd.get_dummies(df['key'],prefix='ky')

In [10]:
dummies

   ky_a  ky_b  ky_c
0     0     1     0
1     0     1     0
2     1     0     0
3     0     0     1
4     1     0     0
5     0     1     0