In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pylab as plt

In [4]:
from pandas import DataFrame,Series

In [5]:
df1=DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],  \
                         'data1': range(7)})

In [6]:
df2=DataFrame({'key':['a','b','d'],'data2':range(3)})

In [7]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [8]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [9]:
pd.merge(df1,df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [10]:
pd.merge(df1,df2,on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [11]:
df3 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], \
                 'data1': range(7)})

In [12]:
df3

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b

In [13]:
df4 = DataFrame({'rkey': ['a', 'b', 'd'],'data2': range(3)})

In [14]:
df4

   data2 rkey
0      0    a
1      1    b
2      2    d

In [15]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey') #指定兩邊的合併鍵

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [16]:
pd.merge(df1,df2,on='key',how='left')

   data1 key  data2
0      0   b    1.0
1      1   b    1.0
2      2   a    0.0
3      3   c    NaN
4      4   a    0.0
5      5   a    0.0
6      6   b    1.0

In [17]:
pd.merge(df1,df2,on='key',how='right')

   data1 key  data2
0    0.0   b      1
1    1.0   b      1
2    6.0   b      1
3    2.0   a      0
4    4.0   a      0
5    5.0   a      0
6    NaN   d      2

In [18]:
pd.merge(df1,df2,on='key',how='outer')

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

In [19]:
df5 = DataFrame({'key1': ['高雄', '高雄', '台南'], \
                 'key2': ['one', 'two', 'one'],   \
                 'lval': [1, 2, 3]})

In [20]:
df6 = DataFrame({'key1': ['高雄', '高雄', '台南', '台南'], \
                 'key2': ['one', 'one', 'one', 'two'],    \
                 'rval': [4, 5, 6, 7]})

In [23]:
df5

  key1 key2  lval
0   高雄  one     1
1   高雄  two     2
2   台南  one     3

In [27]:
df6

  key1 key2  rval
0   高雄  one     4
1   高雄  one     5
2   台南  one     6
3   台南  two     7

In [25]:
pd.merge(df5,df6,on=['key1','key2'],how='inner') 
#以['key1','key2']為join鍵,inner join

  key1 key2  lval  rval
0   高雄  one     1     4
1   高雄  one     1     5
2   台南  one     3     6

In [26]:
pd.merge(df5,df6,on=['key1','key2'],how='outer') 
#以['key1','key2']為join鍵,outer join

  key1 key2  lval  rval
0   高雄  one     1     4
1   高雄  one     1     5
2   高雄  two     2   NaN
3   台南  one     3     6
4   台南  two   NaN     7

In [28]:
pd.merge(df5,df6,on='key1',how='inner')
#key2 重複列名

  key1 key2_x  lval key2_y  rval
0   高雄    one     1    one     4
1   高雄    one     1    one     5
2   高雄    two     2    one     4
3   高雄    two     2    one     5
4   台南    one     3    one     6
5   台南    one     3    two     7

In [29]:
pd.merge(df5,df6,on='key1',how='inner',suffixes=('_df5','_df6')) 
#suffixes

  key1 key2_df5  lval key2_df6  rval
0   高雄      one     1      one     4
1   高雄      one     1      one     5
2   高雄      two     2      one     4
3   高雄      two     2      one     5
4   台南      one     3      one     6
5   台南      one     3      two     7