In [1]:
#web_scraping_04c_20180319.ipynb
#中油歷年油價(92,95,98)資料分析
#中油油品歷史價格網頁
#http://new.cpc.com.tw/division/mb/oil-more4.aspx

In [2]:
#step 1: 取得資料，從中油網站擷取中油歷年油價(92,95,98)資料
from urllib.request import urlopen
from bs4 import BeautifulSoup #從bs4 module, import BeautifulSoup

In [3]:
#設定變數url指向字串物件 'http://new.cpc.com.tw/division/mb/oil-more4.aspx'
#url='http://new.cpc.com.tw/division/mb/oil-more4.aspx'
url='file:///E://jack//學務//教材計劃//python//py//20180318.html'

In [4]:
#叫用urlopen() function,回傳是一個HTTPResponse Object
html=urlopen(url) #html 變數,一個http.client.HTTPResponse

In [5]:
#step 2: 初步資料處理, 將str Object 'html', 轉成BeautifulSoup物件
bsObj=BeautifulSoup(html,'lxml') #轉成 bs Object

In [7]:
#以prettify() method檢視bsf Obj
#print(bsObj.prettify())

In [8]:
#找找看有沒有 <table> tag:     
tableData=bsObj.findAll('table')

In [9]:
len(tableData)  #2,有兩個

2

In [10]:
#於是我們改以pandas.read_html() 函數來讀取url中的 <table> tag
import pandas as pd #先將 pandas import 進來
import html5lib  #html5lib 需先安裝, conda install html5lib
import bs4 #import bs4

In [11]:
df1=pd.read_html(url) #df1 是一個 list of DataFrame

In [12]:
data=df1[0] #第一個DataFrame 就是我們要的油價表

In [13]:
#檢視 DataFrame 'data', 目前是預設的index(0,1,2,...), 預設的column(0,1,2,...)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,調價日期,無鉛汽油92,無鉛汽油95,無鉛汽油98,超級/高級柴油,二行程無鉛,煤油,甲種漁船油(KL),乙種漁船油(KL),低硫燃料油(0.5%)(KL),甲種低硫 燃料油/ 低硫鍋爐油(0.5%)(KL),低硫 燃料油(1%)(KL),低硫鍋爐油(1%)(KL)
1,2018/03/19,26.0,27.5,29.5,23.8,NaN,NaN,16593,11678,NaN,NaN,NaN,NaN
2,2018/03/14,NaN,NaN,NaN,NaN,NaN,37.4,NaN,NaN,NaN,NaN,NaN,NaN
3,2018/03/12,26.1,27.6,29.6,23.9,NaN,NaN,16693,11778,NaN,NaN,NaN,NaN
4,2018/03/07,NaN,NaN,NaN,NaN,NaN,38.9,NaN,NaN,NaN,NaN,NaN,NaN
5,2018/03/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14376,15562,NaN,NaN
6,2018/03/05,26.3,27.8,29.8,24.1,NaN,NaN,16893,11978,NaN,NaN,NaN,NaN
7,2018/02/28,NaN,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2018/02/26,26.2,27.7,29.7,24.0,NaN,NaN,16793,11878,NaN,NaN,NaN,NaN
9,2018/02/22,NaN,NaN,NaN,NaN,NaN,37.4,NaN,NaN,NaN,NaN,NaN,NaN
10,2018/02/19,25.8,27.3,29.3,23.6,NaN,NaN,16393,11478,NaN,NaN,NaN,NaN
11,2018/02/14,NaN,NaN,NaN,NaN,NaN,38.9,NaN,NaN,NaN,NaN,NaN,NaN
12,2018/02/12,26.4,27.9,29.9,24.3,NaN,NaN,17093,12178,NaN,NaN,NaN,NaN
13,2018/02/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13913,15182,NaN,NaN
14,2018/02/05,27.0,28.5,30.5,24.9,NaN,NaN,17693,12778,NaN,NaN,NaN,NaN
15,2018/01/24,NaN,NaN,NaN,NaN,NaN,40.1,NaN,NaN,NaN,NaN,NaN,NaN
16,2018/01/22,27.2,28.7,30.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2018/01/17,NaN,NaN,NaN,NaN,NaN,39.8,NaN,NaN,NaN,NaN,NaN,NaN
18,2018/01/15,27.1,28.6,30.6,25.1,NaN,NaN,17893,12978,NaN,NaN,NaN,NaN
19,2018/01/10,NaN,NaN,NaN,NaN,NaN,39.5,NaN,NaN,NaN,NaN,NaN,NaN
20,2018/01/08,26.9,28.4,30.4,24.8,NaN,NaN,17593,12678,NaN,NaN,NaN,NaN
21,2018/01/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13538,14706,NaN,NaN
22,2018/01/03,NaN,NaN,NaN,NaN,NaN,39.2,NaN,NaN,NaN,NaN,NaN,NaN
23,2018/01/01,26.7,28.2,30.2,24.6,NaN,NaN,17393,12478,NaN,NaN,NaN,NaN
24,2017/12/27,NaN,NaN,NaN,NaN,NaN,38.3,NaN,NaN,NaN,NaN,NaN,NaN
25,2017/12/25,26.4,27.9,29.9,24.2,NaN,NaN,16993,12078,NaN,NaN,NaN,NaN
26,2017/12/20,NaN,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN
27,2017/12/18,26.3,27.8,29.8,24.1,NaN,NaN,16893,11978,NaN,NaN,NaN,NaN
28,2017/12/13,NaN,NaN,NaN,NaN,NaN,37.7,NaN,NaN,NaN,NaN,NaN,NaN
29,2017/12/11,26.1,27.6,29.6,23.9,NaN,NaN,16693,11778,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,2001/07/04,NaN,NaN,NaN,NaN,NaN,15.6,NaN,NaN,NaN,NaN,NaN,NaN
1012,2001/06/29,18.4,19.5,20.7,14.1,18.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1013,2001/05/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7296,8232,6767,7861
1014,2001/04/05,18.9,20.0,21.2,14.3,18.9,NaN,8106,5190,7052,8061,6521,7689
1015,2001/04/03,NaN,NaN,NaN,NaN,NaN,15.8,NaN,NaN,NaN,NaN,NaN,NaN
1016,2001/03/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7288,8316,6768,7952
1017,2001/02/20,NaN,NaN,NaN,NaN,NaN,16.2,NaN,NaN,NaN,NaN,NaN,NaN
1018,2001/02/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7414,8404,6889,8037
1019,2000/11/03,19.2,20.2,21.2,14.6,19.2,NaN,8392,5373,NaN,NaN,NaN,NaN
1020,2000/10/27,19.5,20.5,21.5,14.9,19.5,16.6,8678,5556,NaN,NaN,NaN,NaN
1021,2000/10/20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7623,9217,7077,9004
1022,2000/09/27,19.2,20.2,21.2,14.7,19.2,NaN,8487,5434,NaN,NaN,NaN,NaN
1023,2000/09/21,NaN,NaN,NaN,NaN,NaN,16.2,NaN,NaN,NaN,NaN,NaN,NaN
1024,2000/09/20,19.6,20.6,21.6,14.9,19.6,NaN,8678,5556,NaN,NaN,NaN,NaN
1025,2000/09/14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7235,8887,6690,8682
1026,2000/08/02,18.3,19.3,20.3,14.3,18.3,15.2,8106,5190,6791,8887,6287,8682
1027,2000/06/21,18.6,19.6,20.6,14.5,18.6,15.6,8297,5312,6860,8977,6351,8770
1028,2000/05/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6773,8864,6271,8659
1029,2000/03/29,18.1,19.1,20.1,14.2,18.1,15.1,8011,5129,NaN,NaN,NaN,NaN
1030,2000/03/28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6387,8487,5915,8291
1031,2000/02/16,17.6,18.6,19.6,13.8,17.6,14.7,7630,4885,NaN,NaN,NaN,NaN
1032,2000/02/15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5674,7536,5088,7126
1033,1999/12/08,17.2,18.2,19.2,13.4,17.2,14.3,7249,4641,5439,7223,4878,6830
1034,1999/11/10,16.8,17.8,18.8,13.0,16.8,13.9,6868,4397,5045,6827,4484,6434
1035,1999/09/01,16.4,17.4,18.4,12.7,16.4,13.5,6582,4195,4872,6615,4311,6223
1036,1999/08/11,16.4,17.4,18.4,12.7,16.4,13.5,6582,4195,4872,6615,4311,6223
1037,1999/07/14,16.0,17.0,18.0,12.4,16.0,13.1,6297,3997,4703,6407,4142,6014
1038,1999/05/12,15.6,16.6,NaN,12.1,15.6,12.8,6011,3806,4545,6207,3984,5814
1039,1999/04/07,15.3,16.3,NaN,11.8,15.3,12.5,5725,3628,4407,6020,3846,5627
1040,1999/01/06,15.0,16.0,NaN,11.5,15.0,12.2,5440,3451,4270,5834,3709,5441

In [14]:
#先設一個中途點,以DataFrame.to_csv() method
#將目前記憶體中的 DataFrame 'data' 存到現行目錄下(硬碟中)
#檔案命名為 'cpp_data_2018.csv', 檔案格式為 csv
data.to_csv('cpp_data_2018.csv')

In [15]:
#以後如果要使用,就可以直接用pd.read_csv()讀入
#data=pd.read_csv('cpp_data_2018.csv')

In [16]:
#step 3: Data Wrangling (資料重整,裁剪)
#使用DataFrame / 布林陣列

In [17]:
#step 3a:我們關心的是92/95/98及高柴,所以先裁前5欄位(含日期)
data=data.iloc[:,0:5]  #先裁1~5欄位(含日期)
title=data.iloc[0,:] #擷取第一列的資料當抬頭
data=data.iloc[1:,:] #把第一列裁掉
data.columns=title #columns 改成 title

In [18]:
#step 3b: 92/95/98/高柴 是連動的,所以我們只要找 92 有值的日期即可
#使用布林陣列 --> pd.notnull(data["無鉛汽油92"])
data=data[pd.notnull(data["無鉛汽油92"])] #92有值
#用 DataFrame set_index() method 將"調價日期"欄轉成 index
data=data.set_index("調價日期")